@media only screen and (max-width: 899px) {
    .THIS .table-row-content {
        padding-left: 4px !important;
    }

    .THIS .hide-on-mobile {
        display: none !important;
    }

    .THIS .search-key {
        width: 90% !important;
        margin-top: 8px !important;
    }

    .THIS.cases-status-title {
        margin-bottom: 16px !important;
    }
}

.THIS .table-row-content {
    font-family: 'Roboto', sans-serif !important;
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
}

.THIS .table-row-content-break-all {
    word-break: break-all !important;
}

.THIS {
    color: black;
    font-family: 'Roboto', sans-serif !important;
}

.THIS.cases-status-title {
    text-align: center;
    margin-bottom: 32px;
}

.THIS .status-title {
    font-size: 26px;
}

.THIS.filter-search {
    margin-bottom: 32px;
    text-align: center;
}

.THIS .search-by-header {
    display: inline-block;
    margin-right: 16px;
    font-size: 16px;
}
.THIS .search-by-field {
    display: inline-block;
    margin-right: 16px;
    font-size: 16px;
    width: auto;
    padding-right: 30px !important;
}
.THIS .search-key {
    display: inline-block;
    margin-right: 16px;
    font-size: 16px;
    width: 35%;
    min-height: auto !important;
}

.THIS li {
    border-bottom: solid 1px #DDDDDD;
    padding: 8px;
}

.THIS p {
    background-color: green;
    margin: 4px;
}

.THIS .tBodyRow {
    padding: 8px;
    border-bottom: solid 1px #DDDDDD;
    margin-top: 10px;
    
}

.THIS .tHead {
    background-color:rgb(234, 234, 241);
    
}

.THIS .tBodyColumn {
    padding: 8px;
}


.THIS {
}


.THIS .gray-background {
    position: fixed;
    background-color: rgba(255,255,255, 0.8); 
    width: 100%;
    min-height: 100vh;
    top: 0px;
    left: 0px;
    z-index: 9999;
    text-align: center;
}

.THIS .eccl-loading-logo {
    height: 128px;
    width: 128px;
    vertical-align: center;
    margin-top: 44vh;
}


.THIS .pageBtn {
    display: inline-block;

    min-width: 128px;
    margin-right: 10px;

    color: #ffffff;
    background-color: rgb(38, 71, 141);

    border-radius: .125rem;
    outline: none;
    border: none;
    font-size: .875em;
    font-weight: normal;
    line-height: 1.4;
    padding: 8px 10px;

    transition: border .25s linear,color .25s linear,background-color .25s linear;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    margin-bottom: 0;
}

.THIS .pageBtn:active {
    background-color: #1b3365 !important;
}

.THIS .pageBtn:disabled {
    background-color: rgba(0, 0, 0, 0.3) !important;
    cursor: not-allowed;
}


/*.THIS .uiButton > span {
    color: black;
    font-size: 2em;
}*/
.THIS .page-enter-section {
    display: inline-block;
    vertical-align: middle;
}
.THIS .paginationPageSelector {
    width: 70px !important;
    font-size: 16px;
    display: block;
    height: 26px;

    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;

    text-align: center;

    min-height: auto !important;
}

.THIS .paginationPageSelectorCommonSetting {

    display: inline-block !important;
    font-size: 18px;
    margin-right: 16px;
    margin-bottom: 16px;
}

.THIS .float-left {
    float: left;
}

.THIS .right-margin {
    margin-right: 6px;
}

.THIS .pagination-control-section {
    margin-top: 32px;
    text-align: center;
}

.THIS.cmp-bottom-margin {
    margin-bottom: 128px;
}

/* Helper style class*/
.THIS .vertical-middle-div {
    vertical-align: middle;
    display: inline-block;
}

.THIS .hide-div {
    display: none !important;
}