<!--
/**=====================================================================
 * Name: AccountPlanPDFCurrentProviders
 * Description: 
 * Created Date: Jan. 25th, 2016
 * Created By: James Wills
 * 
 * Date Modified         Modified By            Description of the update
 * Jan. 25th, 2017       James Wills            Created.
 * Feb. 8th, 2017        James Wills            Case:02194059 Changed Custom labels to Field labels.
 * =====================================================================*/
-->
<apex:component controller="AccountPlan_Competitors_Controller">

      <apex:attribute name="accountPlan1" description="" type="Account_Plan__c" required="true" assignTo="{!accountPlan}"/>

      <!-- Current Provider Section on PDF -->
      <table class="table-bordered" style="width:94%;border-spacing: 0 !important;">
      <tr><td colspan="7" style="padding-left:0px !important;"> <div class="title">{!$ObjectType.Current_Provider__c.Label}</div></td></tr>
         <tr>
            <td width="200px" style="font-size: 13px; font-weight: bold;padding-left : 10px;">{!$ObjectType.Current_Provider__c.Label}
            </td>
            <td width="200px" style="font-size: 13px; font-weight: bold;padding-left : 10px;">{!$ObjectType.Account.fields.Name.label}
            </td>
            <td width="200px" style="font-size: 13px; font-weight: bold;padding-left : 10px;">{!$ObjectType.Current_Provider__c.fields.Current_Provider_Contract_End_Date__c.label}
            </td>
            <td width="200px" style="font-size: 13px; font-weight: bold;padding-left : 10px;">{!$ObjectType.Current_Provider__c.fields.Estimated_Amount__c.label}
            </td>
            <td width="200px" style="font-size: 13px; font-weight: bold;padding-left : 10px;">{!$ObjectType.Current_Provider__c.fields.Competitor_Product_s__c.label}
            </td>
            <td width="200px" style="font-size: 13px; font-weight: bold;padding-left : 10px;">{!$ObjectType.Current_Provider__c.fields.Business_Unit__c.label}
            </td>
            <td width="200px" style="font-size: 13px; font-weight: bold;padding-left : 10px;">{!$ObjectType.Current_Provider__c.fields.Experian_Provider__c.label}
            </td>
         </tr>
         <apex:repeat value="{!accountPlanCurrentProvidersWrapperList_PDF}" var="apcp">
            <tr>
               <td width="200px" style = "padding-left : 10px;">{!apcp.AccountPlanCurrentProvider}</td>
               <td width="200px" style = "padding-left : 10px;">{!apcp.AccountName}</td>
               <td width="200px" style = "padding-left : 10px;"><apex:outputText value="{0, date, dd'/'MM'/'yyyy hh':'mm}"><apex:param value="{!apcp.CurrentProviderContractEndDate}" /></apex:outputText></td>
               <td width="200px" style = "padding-left : 10px;"><apex:outputText value="{0, number, 0,000.00} ({!userCurrency})"><apex:param value="{!apcp.EstimatedAmount}"/></apex:outputText> </td>
               <td width="200px" style = "padding-left : 10px;">{!apcp.CompetitorProducts}</td>
               <td width="200px" style = "padding-left : 10px;">{!apcp.BusinessUnit}</td>
               <td width="200px" style = "padding-left : 10px;">{!apcp.ExperianProvider}</td>
            </tr>
         </apex:repeat>
      </table>      
      <br />
      <br />
      
      
      
      <div class="page-break" />
</apex:component>