<!-- 
Component -   expcommunity_banner_cmpt
Author -      Hay Mun Win
Description - banner component-->
<apex:component >
  <apex:attribute name="background" description="Background image of the banner" type="String"/>
  <apex:attribute name="background_size" description="Background size of the banner" type="String" default="cover"/>
  <apex:attribute name="title" description="Title on the banner" type="String"/>
  <apex:attribute name="top_subtitle" description="subtitle on top" type="String"/>
  <apex:attribute name="bottom_subtitle" description="subtitle at bottom" type="String"/>
  
  <style>
      .expsinglebanner_title{
          font-size:7em;
      }
      
      .sub-banner {
          padding:9em 0 7em 0;
      }
  </style>
  
    <!-- Banner -->
            <div class="sub-banner slds-size--1-of-1" id="myimage" style="background-image: url({!background}); background-size: {!background_size};">
                <div class="slds-p-left--medium" >
                    <p class="capitalize slds-text-align--center">{!top_subtitle}</p>
                    <div class="expsinglebanner_title capitalize slds-text-align--center">{!title}</div>
                    <p class="capitalize slds-text-align--center">{!bottom_subtitle}</p> 
                </div>
            </div>
                    
</apex:component>