.THIS .esign-panel-padded {
    padding-right: 120px !important;
    padding-bottom: 20px !important;
}

.THIS .esign-panel-header-padded {
    padding-right:80px !important;
}

.THIS .esign-new-agreement-button {
    height: 15px !important;
}

.THIS .esign-new-agreement-dropdown {
	margin-left: 30px !important;
    width: 82% !important;
}

.THIS .esign-new-agreement-top-dropdown {
	margin-left: 57px !important;
    width: 82% !important;
}

.THIS .esign-agreement-action-top-dropdown {
	margin-left: 150px !important;
    min-width: 92px !important;
}

.THIS .esign-field-value {
    font-size: .775rem !important;
    color: rgb(22, 50, 92) !important;
    font-weight: normal !important;
}

.THIS .esign-top-right-button {
    padding-left: 40px;
}

.THIS .esign-menu-action-down {
    width: 1rem !important;
    fill: rgb(159, 170, 181) !important;
}

.THIS .esign-menu-action-button {
	float: right !important;
    padding-top: 5px !important;
    background: transparent !important;
    border: hidden !important;
}