.THIS {
    color:#000000;
}

.THIS.faq_page_title {
    color:#26478d;
    font-weight:700;
    font-size:26px;
}

.THIS ul {
    list-style:disc outside none;
    color:#000000;
}

.THIS.faq_question_list {
    border-bottom: 3px solid #BB2F7D;
}
.THIS.faq_question_list a{
    line-height:1.5em;
    text-decoration:underline;
}

.THIS.faq_list {
    color:#000000;
    line-height:1.5em;
}

.THIS .faq_question {
    color:#26478d;
    font-weight:700;
    font-size:1.2em;
}

.THIS .faq_answer {
    color:#575756;
}