<!--
/**=====================================================================
 * Name: AccountPLanContactDeletion
 * Description: This is the Account Plan Contact Deletion page.
 *              It is referenced from the AccountPlanTabPanel VF page.
 * Created Date: September 15th, 2017
 * Created By: Elodie Auger
 * 
 *  Date Modified            Modified By                  Description of the update
 *  September 15th, 2017     Elodie Auger                 Case: 02353784 AP - Account plan visibility at contact level
 * =====================================================================*/
-->
<apex:page standardController="Account_Plan_Contact__c">

<flow:interview name="Deleted_account_plan_contact"

finishLocation="/{!Account_Plan_Contact__c.Account_Plan__c}">

<apex:param name="varContactId" value="{!Account_Plan_Contact__c.Contact__c}"/>

<apex:param name="varAccountPlanContactId" value="{!Account_Plan_Contact__c.Id}"/>

</flow:interview>

</apex:page>