<!--
/**=====================================================================
 * Appirio, Inc
 * Name: AccountRedirectPage.page
 * Description: T-421509: VF Page to redirect to Account creation based on the Profile of Logged in user
 * Created Date: Aug 06th, 2015
 * Created By: Arpita Bose (Appirio)
 * 
 * Date Modified      Modified By                  Description of the update
 * Sep 16th, 2015     Paul Kissick                 I-180579: Adding changes for allowing 'No Address' for some users
*  =====================================================================*/
-->
<apex:page standardController="Account" extensions="AccountRedirectController" tabStyle="Account" showheader="true" action="{!redirect}">
  <apex:sectionHeader subtitle="Choose an option"/>
  <apex:pagemessages />
  <apex:form id="choose">
    <apex:pageBlock id="NewButtons" rendered="{!showNewAccountButtons}">
      <apex:pageBlockButtons location="bottom">
        <apex:commandButton value="{!$Label.ASS_Button_New_Account}" action="{!newAccountAndAddress}"/>
        <apex:commandButton value="{!$Label.New_Account}" action="{!newAccount}"/>
      </apex:pageBlockButtons>
      <apex:pageblockSection columns="1">
        You are seeing this page because you either have the following permissions ({!NewAccountPermSets}), or are assigned the following profiles ({!NewAccountProfSets}).
      </apex:pageblockSection>
    </apex:pageBlock>
  </apex:form>
</apex:page>