<apex:page standardController="Account" showHeader="false">
    <apex:includeScript value="https://{!$Setup.ArtesianUK__Artesian_Settings__c.ArtesianUK__HostUrl__c}/Scripts/lib/jquery/jquery.min.js?v=1.9.1" />
    <h1 id="loadingMessage" style="font-size: 20px; color: #909090;">Loading...</h1>
    <script type="text/javascript">
        jQuery(document).ready(function() {

            (function(appContext){
                appContext.ForceUI = appContext.ForceUI || {}; 
                appContext.ForceUI.isSalesforce1 = function() {
                    return((typeof sforce != 'undefined') && sforce && (!!sforce.one));
                }
                appContext.ForceUI.isMobileApp = function(){
                     return navigator.userAgent.match('(Mobi)') ? true : false;
                }
            })(this);
                        
            
            var orgId = '{!$Organization.Id}';
            var accountId = '{!account.id}';
            var hostUrl= '{!$Setup.ArtesianUK__Artesian_Settings__c.ArtesianUK__HostUrl__c}';
            var url = '';
            if (typeof hostUrl != 'undefined' && hostUrl.length > 0) {
               var url = 'https://' + hostUrl + '/CrmPanel/Salesforce/Start/' + accountId.substring(0, 15);
            } 
            else {
              var url = 'https://' + orgId.substring(0, 15) + '.artesiansolutions.com/CrmPanel/Salesforce/Start/' + accountId.substring(0, 15);
            }
            url = url + '?isMobileApp='+this.ForceUI.isMobileApp()+'&u=' + encodeURIComponent('{!$User.Id}');
            $('body').empty().css("margin","0").append($('<iframe />', {src: url, style: 'border: none; width: 98%; width: calc(100% - 5px); height: 360px;' }));
            
        }); 
    </script>
</apex:page>