<!--
/**=====================================================================
  * Experian
  * Name: CaseCreateRedirect
  * Description: Custom visualforce page to override standard new case button.
  * Created Date: March 22 2017
  * Created By: Ryan (Weijie) Hu, UCInnovation
  *
  * Date Modified      Modified By                  Description of the update
  * Charlie Park       April 13 2017                Show console components on new  cases created by profiles with access to only one record type.
  *
  =====================================================================*/
  -->
<apex:page showHeader="false" sidebar="false" standardController="Case"  extensions="CaseCreateRedirectController" >



  <apex:includeScript value="/support/console/22.0/integration.js"/>
  <!--apex:includeScript value="/soap/ajax/39.0/apex.js"/>
  <apex:includeScript value="/soap/ajax/39.0/connection.js"/-->

<!--   <script src="/soap/ajax/15.0/connection.js" type="text/javascript"></script>
  <script src="/soap/ajax/15.0/apex.js" type="text/javascript"></script> -->

  <script type="text/javascript">

/*
  var isSerasaCustomCareProfiles = false;
  var userProfileName = '{!$Profile.Name}';

  if (userProfileName == 'Experian Serasa Back Office and Legal' ||
      userProfileName == 'Experian Serasa Consumer Contact Centre' ||
      userProfileName == 'Experian Serasa eID Contact Center' ||
      userProfileName == 'Experian Serasa Retention' ||
      userProfileName == 'Experian Serasa SME Logon & VIP' ||
      userProfileName == 'Experian Serasa Social Media Support' ||
      userProfileName == 'Experian Serasa Support Coordinator / Supervisors' ||
      userProfileName == 'Experian Serasa Third Level Support' ||
      userProfileName == 'Experian Serasa Top SME/SME & Collections'
  ) {
    isSerasaCustomCareProfiles = true;
  }
*/


  function openingPrimaryTab(result) {
      //Open a new primary tab with the salesforce.com home page in it
      sforce.console.openPrimaryTab(result.id, '{!url}', true);
  }

  function getIdAndOpenPrimaryTab() {
      sforce.console.getEnclosingPrimaryTabId(openingPrimaryTab);
  }
  
  if (sforce.console.isInConsole() && '{!isSerasaCustomCareProfiles}' == 'true')
  {
      getIdAndOpenPrimaryTab();
  }
  else
  {
    window.location = '{!url}';
  }

  </script>



</apex:page>