<apex:page controller="EmployeeCommunity_Home_Cntrl" showHeader="false" standardStylesheets="false" sidebar="false" docType="html-5.0">

<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
<head>
  <meta charset="utf-8" />
  <title>Employee Community</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/> 


  <apex:stylesheet value="{!URLFOR($Resource.GEARR_Res1, '/assets/css/main.css')}" />
  <apex:stylesheet value="{!URLFOR($Resource.SLDS214, 'assets/styles/salesforce-lightning-design-system.min.css')}" />
  <apex:stylesheet value="{!URLFOR($Resource.EmployeeCommunity_MainRes_2017, 'css/community_mainstyles.css')}" />
 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{!URLFOR($Resource.EmployeeCommunity_MainRes_2017, 'script/community_script.js')}"></script>
  <script src="{!URLFOR($Resource.EmployeeCommunity_MainRes_2017, 'script/svg4everybody.js')}"></script>  
  <script>svg4everybody();</script>
  

<style>
#banner {
        padding: 9em 0 7em 0 ;
        background-color: #423e3a;
        background-image:url('{!URLFOR($Resource.GEARR_Res1, '/images1/gearrProcessV8.png')}');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        color: #cfcecd;
    }

ul.dropdown__list {
    width:150px;
  }
  
  .experianSLDS a {
  color:#0070d2;
  }
  
  .experianSLDS ul.dropdown__list li a{
    color:#a11881;
    font-size:1.15em;
  }
  
  .experianSLDS ul.dropdown__list li a:hover{
    color:#a11881;
  }
   section.textformatGEARR {
      font-size:1.25em;
  }
  .experianSLDS td {
      text-align:center;
      background-color:white;
      font-size:16px;
      padding-top:2px;
      padding-bottom:2px;
  }
  
  #page-wrapper {
    padding-top:0px;
    font-size:12px;
  }
  
  #page-wrapper ul li {
    margin:0;
    padding:0;
  }
  
  #navPanel, #navButton {
    display:none !important;
  }
  
  input[type="submit"].special, input[type="reset"].special, input[type="button"].special, .button.special {
        //background-color: rgb(0, 171, 170) !important;
        background-image:none;
        line-height:3em;
        display:block;
        padding: 0 1.25em;
  }
  
   input[type="submit"].special:hover, input[type="reset"].special:hover, input[type="button"].special:hover, .button.special:hover {
        //background-color: #f99e79;
        background-image:none;
   }
   
   body .x-btn button, body .btn, body .btnImportant, body .btnDisabled, body .btnCancel, body .menuButton .menuButtonButton, body .menuButton .menuButtonMenu a, body .menuButton .menuButtonMenu input.theOption, h1, h2, h3, h4, h5, h6 {
   font-family:"Salesforce Sans", Arial, sans-serif;
   display:block;
   font-weight:normal;
   }
</style>

</HEAD>
<!-- REQUIRED SLDS WRAPPER -->
<div class="experianSLDS">
    <div class="landing">

        <!-- Header -->
            <div id="" >
            
             
             
  <div >
      <!--Template-->
    <apex:composition template="expcomm_newTemplate">
        <apex:define name="item1"><!-- menu-item--mobile-->
            <li class="menu-item slds-float--left slds-p-around--small slds-m-right--small slds-m-left--none slds-has-list-interactions"><a href="{!$Site.Prefix}/apex/EmployeeCommunity_Service_Central_page" class="slds-text-heading--small">Service Central Home</a></li>
        </apex:define>
        
        <apex:define name="item2">
            <li class="menu-item slds-float--left slds-p-around--small slds-m-right--small slds-m-left--none slds-has-list-interactions"><a href="{!$Site.Prefix}/apex/EmployeeCommunity_SC_Videos_Page" class="slds-text-heading--small">Videos</a></li>
        </apex:define>
        
        <apex:define name="item3">
            <!-- Rj Update for Summer 17  <li class="menu-item slds-float--left slds-p-around--small slds-m-right--small slds-m-left--none slds-has-list-interactions"><a href="{!$Site.Prefix}/_ui/core/chatter/groups/GroupProfilePage?g=0F9i0000000PpPT" class="slds-text-heading--small">Chatter Group</a></li>-->
            <li class="menu-item slds-float--left slds-p-around--small slds-m-right--small slds-m-left--none slds-has-list-interactions"><a href="https://experian.my.salesforce.com/_ui/core/chatter/groups/GroupProfilePage?g=0F9i0000000PpPT" class="slds-text-heading--small">Chatter Group</a></li>
        
        </apex:define>
        <apex:define name="item4">
             <li class="menu-item slds-float--left slds-p-around--small slds-m-right--small slds-m-left--none slds-has-list-interactions"><a href="{!$Site.Prefix}/apex/EmployeeCommunity_SC_FAQ_Page" class="slds-text-heading--small">FAQ</a></li>
        </apex:define>
        <apex:define name="item5">
        </apex:define>
    </apex:composition>
    <!--Template-->

</div>
            </div>
             

        <!-- Page Wrapper -->
            <div id="page-wrapper">

                    <section id="main" class="wrapper style3">
                     <table width="100%" border="0">
                    
                    <tr>
                        <td align="center" width="50%" >
                            <a href="https://urldefense.proofpoint.com/v2/url?u=http-3A__experianukandi.newsweaver.com_ITServiceandAssetManagementTransformationWorkshop-2Desm3envljbv_1eluk02etnlkpv4bwigmvp-3Femail-3Dtrue&d=DQMFaQ&c=BNNF-YNv0CLLslhP2Bcx5Q&r=3AxuimHTbhiCp1mTgLkop_IVTGwzUHPd3BbHYzN1KLY&m=ZDY_XWCipYN5v6E_gtHeEK0ZQQJvjXmQkNV-d0cZg5k&s=Q8yNKOCK9NqxogjlhJzluQMy9h_KkhWWJ7U3KDzt-PU&e=" target="_blank">
                            ServiceNow - ITSM &amp; ITOM benefits </a>                      
                        </td>
                        <td width="50%" align="center">
                            <a href="https://www.experiancommunity.com/sfc/servlet.shepherd/version/download/068i0000002hHro?asPdf=false&operationContext=CHATTER" target="_blank">
                            ServiceNow demo </a>                     
                        </td>
                    </tr>
                    
                    
                    <tr >
                        <td align="center" width="50%" style="padding-bottom:40px;">
                            <apex:iframe width="300" height="300" src="https://www.youtube.com/embed/hBMCn7wVExk" />
                        </td>
                        <td width="50%" align="center">
                            <a href='{!$label.ServiceNow_Video_URL}' target='_blank'>
                            <img src="{!URLFOR($Resource.GEARR_Res3, '/images2/ServiceNow.PNG')}" style="height:300px" width="300" />
                            </a>                     
                        </td>
                    </tr>
                    
                    <tr>
                        <td align="center" width="50%">  
                            <a href="https://urldefense.proofpoint.com/v2/url?u=http-3A__experianukandi.newsweaver.com_ITServiceandAssetManagementTransformationWorkshop-2Desm3envljbv_3yl38est521kpv4bwigmvp-3Femail-3Dtrue&d=DQMFaQ&c=BNNF-YNv0CLLslhP2Bcx5Q&r=3AxuimHTbhiCp1mTgLkop_IVTGwzUHPd3BbHYzN1KLY&m=ZDY_XWCipYN5v6E_gtHeEK0ZQQJvjXmQkNV-d0cZg5k&s=Py8_ceEhe2BGLbMTzU7vkWFOH7UMANvBdisrFT6Goew&e=" target="_blank">
                            ServiceNow &amp; Experian - our journey - June 2016  </a>                      
                        </td>
                        <td align="center" width="50%">  
                            <a href="http://players.brightcove.net/2103045692001/default_default/index.html?videoId=5235947262001" target="_blank">
                            ServiceCentral </a>                      
                        </td>
                    </tr>
                    
                    <tr>
                        <td align="center" width="50%">                 
                             <a href='https://urldefense.proofpoint.com/v2/url?u=http-3A__experianukandi.newsweaver.com_ITServiceandAssetManagementTransformationWorkshop-2Desm3envljbv_3yl38est521kpv4bwigmvp-3Femail-3Dtrue&d=DQMFaQ&c=BNNF-YNv0CLLslhP2Bcx5Q&r=3AxuimHTbhiCp1mTgLkop_IVTGwzUHPd3BbHYzN1KLY&m=ZDY_XWCipYN5v6E_gtHeEK0ZQQJvjXmQkNV-d0cZg5k&s=Py8_ceEhe2BGLbMTzU7vkWFOH7UMANvBdisrFT6Goew&e=' target='_blank'>
                                <img src="{!URLFOR($Resource.GEARR_Res3, '/images2/ServiceNow_Journey.PNG')}" height="300" width="300" /> 
                            </a>   
                        </td>
                            <td align="center" width="50%">
                                <a href='http://players.brightcove.net/2103045692001/default_default/index.html?videoId=5235947262001' target='_blank'>                
                            <!--<a href='https://urldefense.proofpoint.com/v2/url?u=http-3A__experianukandi.newsweaver.com_ITServiceandAssetManagementTransformationWorkshop-2Desm3envljbv_3yl38est521kpv4bwigmvp-3Femail-3Dtrue&d=DQMFaQ&c=BNNF-YNv0CLLslhP2Bcx5Q&r=3AxuimHTbhiCp1mTgLkop_IVTGwzUHPd3BbHYzN1KLY&m=ZDY_XWCipYN5v6E_gtHeEK0ZQQJvjXmQkNV-d0cZg5k&s=Py8_ceEhe2BGLbMTzU7vkWFOH7UMANvBdisrFT6Goew&e=' target='_blank'>-->
                                <img src="{!URLFOR($Resource.GEARR_Res3, '/images2/Service_Central_Jon.PNG')}" height="300" width="300" /> 
                            </a>   
                        </td>
                    </tr>
                    
                                        
                    </table>
                    </section>
            <!-- Footer -->
               <!-- Footer -->

                <!--Footer - Template-->
            <apex:composition template="Community_template_footer"></apex:composition>



            </div>

        <!-- Scripts 
            <script src="assets/js/jquery.min.js"></script>
            <script src="assets/js/jquery.dropotron.min.js"></script>
            <script src="assets/js/skel.min.js"></script>
            <script src="assets/js/util.js"></script>
            
            <script src="assets/js/main.js"></script>
            <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
            
            <apex:includeScript value="{!URLFOR($Resource.GEARR_Res1, '/assets/js/jquery.min.js')}" />
            <apex:includeScript value="{!URLFOR($Resource.GEARR_Res1, '/assets/js/jquery.dropotron.min.js')}" />
            <apex:includeScript value="{!URLFOR($Resource.GEARR_Res1, '/assets/js/skel.min.js')}" />
            <apex:includeScript value="{!URLFOR($Resource.GEARR_Res1, '/assets/js/util.js')}" />
            <apex:includeScript value="{!URLFOR($Resource.GEARR_Res1, '/assets/js/main.js')}"/ >
 
    </div>
    </div>
</html>
</apex:page>