<apex:page controller="EmployeeCommunity_Home_Cntrl" showHeader="false" standardStylesheets="false" sidebar="false" docType="html-5.0">

<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
<head>
  <meta charset="utf-8" />
  <title>Employee Community</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/> 


  <apex:stylesheet value="{!URLFOR($Resource.SLDS203, 'assets/styles/salesforce-lightning-design-system-vf.min.css')}" />
  
  <style>
  html, body, .experianSLDS{
  margin:0px;
  height:100%;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  }
  
  body{
    overflow-x:hidden;
  }
  
  .wrapper {
    height:100%;
  }
  
  .experianSLDS .grey-block {
      background-color: #707070;
      color: #ffffff;
      //overflow:visible;
  }
  
  .experianSLDS .purple-block {
      //background-color: #a11881;
      
background: #360033; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #360033 , #0b8793); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #360033 , #0b8793); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
      color: #ffffff;
      //overflow:visible;
  }
  
  .experianSLDS .grey-block a, .experianSLDS .grey-block a:hover, .experianSLDS .grey-block a:active{
      color: #ffffff;
      text-decoration:none;
  }
    
  .experianSLDS .slds-icon.white-block__icon {        /* For Icons color*/
    fill: #ffffff;
  }
  
  .experianSLDS .slds-icon.purple-block__icon {        /* For Icons color*/
    fill: #a11881;
  }
  
  .right-wrapper__child {
    padding-left:56px;
  }
  
  /* styles */
  .capitalize {
    text-transform: uppercase;
  }
  
  .center {
    margin:0 auto;
  }
  
  .container-box {
  width:100%;
    max-width:80%;
    //max-width:1000px;
    margin: 0 auto;
  }
  
 
    
  /* left nav */
  .left-nav__header {
      display: block;
        overflow: hidden;
        width: 56px;
        float: left;
        height: 60px;
        position:fixed
    }
  .nav-wrapper.is-shrink {
    //width:2.9%;
    width:56px;
  }
  
  .nav-wrapper {
        //height: 100%;
        position: fixed;
        top:60px;
    z-index: 1000;
    max-width:190px;
    }
    
    .left-nav__menu li a .menu__icon {
        margin:2px;
    }
    
    .left-nav__menu li a:hover .menu__icon {
        border:2px solid #696661;
        margin:0px;
    }
 
  .left-nav .menu__link {
  display:block;
  overflow:hidden;
  }  
  
  .nav-wrapper ul li .menu__text{
      display:block;
        //color:#a11881;
        color:#ffffff;
  }
  
  .nav-wrapper.is-shrink ul li .menu__text{
      display:none;
  }
  
  /* top menu*/
  
  .top_nav {
    position:relative;
    z-index: 1000;
  }
  
  .top-menu>.menu-item:hover, .top-menu>.menu-item.active {
    background-color:#645364;
  }
  
  .top-menu>.menu-item a:hover{
    text-decoration:none;
  }
  
  .top-menu>.menu-item.menu-item--sub:hover {
    //background-color: none;
    border-radius:50%;
  }
  
  .header-bar {
    position:fixed;
    left:56px;
    letter-spacing: 0.05em;
  }
  
  .content-block {
    left:56px;
    top: 53px;
  }
  
  ul.dropdown__list {
    width:150px;
  }
  
  .experianSLDS ul.dropdown__list li a{
    color:#a11881;
    font-size:1.15em;
  }
  
  .experianSLDS ul.dropdown__list li a:hover{
    color:#a11881;
  }
  
  /*    banner  */
  .banner {
  //background-image:url( '{!URLFOR($Resource.EITSCommunitiesResNew, 'Noon2.png')}');
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  background-color: #423e3a;
  }
  
  .banner__message {
    padding: 5em 0 3em;
    margin: 0 auto;
    //color: #ffffff;
    text-transform: uppercase;
    font-size:3.5em;
  }
  
 /* .banner__message::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  background-attachment: fixed;
  -webkit-filter: blur(12px);
  filter: blur(12px);
  transform: scale(2) translateY(20px);
}
.banner__message {
  margin: 0;
  color: white;
  position: relative;
  z-index: 1;
}
*/
  
  .banner__image {
   padding: 9em 0 7em 0 ;
        background-color: #423e3a;
        background-image:url( '{!URLFOR($Resource.GEARR_Res1, '/images1/gearrProcessV8.png')}');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        color: #cfcecd;
  }
  .banner__imageMorning {
   //padding: 9em 0 7em 0 ;
        background-color: #423e3a;
        background-image:url( '{!URLFOR($Resource.EITSCommunitiesResNew, 'Morning1.png')}');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        color: #ffffff;
  }
  .banner__imageNoon {
   //padding: 9em 0 7em 0 ;
        background-color: #423e3a;
        background-image:url( '{!URLFOR($Resource.EITSCommunitiesResNew, 'Noon2.png')}');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        color: #ffffff;
      /*  background: 
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6)
    ),
    url( '{!URLFOR($Resource.EITSCommunitiesResNew, 'Noon2.png')}');*/
         
  }
  .banner__imageEvening {
   //padding: 9em 0 7em 0 ;
        background-color: #423e3a;
        background-image:url( '{!URLFOR($Resource.EITSCommunitiesResNew, 'Night2.png')}');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        color: #ffffff;
  }
  
  
  .right-wrapper.is-shrink {
    /*width:97.1%;
    width: calc(100% - 56px);*/
    
    width:100%;
  }
  
  
  /* news section*/
  #news {
      font-size:17.33px;
    }
    
    /* fix for anchor cutting off*/
    .news-section {
        padding-top:60px;
        margin-top:-60px;
    }
        
        
    .news__left {
      //background-color: #a11881;
        background: #360033; /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #360033 , #0b8793); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #360033 , #0b8793); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */        
        color: #ffffff;     
    }
    
    .news-left__wrapper {
        max-width:95%;
        //padding:6em 4em 4em 2em;
        padding:6em 4em 4em 0em;
    }
  
    .news-left__title {
        color: #ffffff;
        line-height: 1.5em;
        font-size: 1.3em;
        letter-spacing:0.05em;
        font-weight:700;
        text-transform: uppercase;
    }
    
    .news-left__body {
        color: #ffffff;
        line-height:1.65em;
        color:#fde2d7;
    }
  
    .news__right {
      background-color: #ffffff;   
    }
    
    .news__sub {
        width:100%;
        background-color:#ffffff;
    }
    
    .news__sub--shady {
        background-color:#F5F5F5;
    }
    
    .news-sub__wrapper {
        max-width:90%;
        padding: 4em 1em 2em 4em;
        overflow:hidden;
    }
    
    .news__thumb {
        //max-width:100px;
        max-width:20%;
    }
    
    
    .news-sub__title {
        color:#a11881;
        text-transform: uppercase;
        //font-size: 1.25em;
        //line-height:1.5em;
    }
    
    .news-sub__body, .news-sub__preview {
        color:#868686;
    }
    
    .news-sub__more {
        cursor: pointer;
    }
    
    .button {   
        border: 1px solid #ffffff;
        font-size:13px;
    }
    
    .button--purple, .button--purple:active, .button--purple:hover, .button--purple:visited {
        color:#a11881;
        border: 1px solid #a11881;
        text-decoration:none;
    }
    
    .button--purple button {
        border: 1px solid #a11881;
    }
    
    a.news--btn{
        display:inline-block;
        color:#ffffff;
        text-decoration:none;
    }
    
    a.news--btn:active, a.news--btn:hover {
        display:inline-block;
        color:#ffffff;
        text-decoration:none;
        opacity:0.8;
    }
        
    /* chatter */
    
    .section-row__wrapper {
        overflow:hidden;
        display:block;   
        height:100%;        
    }
    
    #chatter {
        background-color:#F5F5F5;
        //padding:3em 0;
        /*  fix for anchor */
        padding-top: 60px;
        //margin-top:-60px;
    }
    
    .chatterWrapper {
        padding:3em 0;
        margin:0 auto;
        max-width:650px;
        min-width:480px;
        height:60%;
    }
    
    #chatter_frame {
        max-width:95%; 
        margin:0 auto;
        display:block;
        width:95%;
    }  

/*  recognition */  

#reg-icon {
max-width:155px;
}
                
    /*  footer */
    #footer {
        background-color:#979ba0;
    }
    
    /*  for mobile*/
    @media screen and (min-width: 1024px) {
        .news__left {
          height:100%;
        }
        .news__right {
            height:100%;
        }
        .news__sub {
            height:50%;
        }
        
        #chatter {
            min-height:650px;
        }
    }
    @media screen and (max-width: 900px) {
    
        .container-box {
            max-width:700px;
        }
    
         .banner__message {
            font-size:2.5em;
          }
         
        .menu-item--mobile {
            display:none;
        }       
    }
    
     @media screen and (max-width: 680px) {  
     
        .news-left__wrapper {
            padding:4em 4em 4em 2em;
        }
        
        .news-sub__wrapper {
        padding: 4em 1em 2em 2em;
        }
        
        
        #footer_menu {
            display:block;
        }
        /*
        .experianSLDS #footer_menu.slds-has-dividers--left>.slds-list__item:before {
            
        }*/
        
    
         .banner__message {
            font-size:2.0em;
          }
         
        #news {
          font-size:15px;
        }
        
        .nav-wrapper {
            display:block;
        }
        
        .nav-wrapper.is-shrink{
            display:none;
        }
        
        .right-wrapper.is-shrink {
            width: 100%;
        }
        
        .right-wrapper {
            width: calc(100% - 56px);
        }
        
        .experianSLDS .img__sec img {
            float:none;
            margin: 0 auto;
            padding:1em 1em 0 0;
        }
        
        #chatter_frame {
            zoom: 0.20;
            -moz-transform:scale(0.70);
            -moz-transform-origin: 0 0;
            -o-transform: scale(0.70);
            -o-transform-origin: 0 0;
            -webkit-transform: scale(0.70);
            -webkit-transform-origin: 0 0;
            margin:0 auto;
            display:block;
            width:100%;
            max-width:80%;
        }
        
        .chatterWrapper {
            max-width:250px;
        }
        
    }
    
    a:hover{
        color: #444;
    }

  </style>
  
        
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!--<script src="https://rawgit.com/jonathantneal/svg4everybody/master/dist/svg4everybody.js"></script>-->
  <apex:includeScript value="{!$Resource.svg4everybody}"/>
  <script>svg4everybody();</script>
  

        
</head>
<body class="slds-m-top--none">

  <!-- REQUIRED SLDS WRAPPER -->
  <div class="experianSLDS">

    <!-- Wrapper -->
<div class="wrapper slds-size--1-of-1">

<div class= "top_nav">

        <div class= "left-nav__header grey-block">
            <a class="left-nav__link" href="">
                <div class="left-nav-link__icon slds-size--1-of-6 slds-float--left slds-p-around--medium">
                    <span class="slds-icon_container slds-icon-standard-account grey-block" title="Menu">
                      <svg aria-hidden="true" class="slds-icon slds-icon--small white-block__icon">
                        <use xlink:href="{!URLFOR($Resource.SLDS203,'assets/icons/utility-sprite/svg/symbols.svg#rows')}"></use>
                      </svg>
                      <span class="slds-assistive-text">Menu Toggler</span>
                    </span>
                </div>
            </a>
        </div>
    
        <div class="header-bar grey-block slds-size--1-of-1 slds-p-horizontal--xx-large slds-p-vertical--x-small">
            <div class="header-bar__logo slds-size--3-of-4 slds-small-size--4-of-5 slds-medium-size--2-of-5 slds-large-size--3-of-12 slds-float--left slds-p-left--x-small slds-text-heading--medium capitalize slds-p-vertical--small">
                <a href="/apex/Hay_EITSCommunity"> EITS Community</a>
            </div>
            
            <div class="header-bar__menu slds-size--1-of-4 slds-small-size--1-of-5 slds-medium-size--3-of-5 slds-large-size--9-of-12 slds-float--right">
                <ul class="slds-clearfix slds-has-list-interactions top-menu slds-float--right slds-p-right--large">
                    <li class="menu-item menu-item--mobile slds-float--left slds-p-around--small slds-m-right--small slds-has-list-interactions"><a href="/apex/Hay_EITSCommunity" class="slds-text-heading--small">HOME</a></li>
                    <li class="menu-item menu-item--mobile slds-float--left slds-p-around--small slds-m-right--small slds-has-list-interactions"><a href="#news" class="slds-text-heading--small">NEWS</a></li>
                    <li class="menu-item menu-item--mobile slds-float--left slds-p-around--small slds-m-right--small slds-has-list-interactions"><a href="#chatter" class="slds-text-heading--small">CHATTER</a></li>
                    <li class="menu-item menu-item--mobile slds-float--left slds-p-around--small slds-m-right--small slds-has-list-interactions"><a href="#recognition" class="slds-text-heading--small">RECOGNITION</a></li>
                    <li class="menu-item menu-item--sub slds-float--left slds-p-around--x-small slds-m-right--small slds-has-list-interactions ">
                        <div class="slds-dropdown-trigger slds-dropdown-trigger--click" aria-expanded="true">
                          <button class="slds-button slds-button--icon-container" aria-haspopup="true">
                            <!--<svg aria-hidden="true" class="slds-icon slds-icon--medium white-block__icon">
                                <use xlink:href="{!URLFOR($Resource.SLDS203,'assets/icons/action-sprite/svg/symbols.svg#user')}"></use>
                              </svg>
                            <span class="slds-assistive-text">User</span>-->
                            <img src='{!curUser[0].smallphotourl}' />
                          </button>
                          <div class="slds-dropdown slds-dropdown--right slds-nubbin--top-right">
                            <ul class="dropdown__list" role="menu">
                              <li class="slds-dropdown__item">
                                <a href="/ui/setup/Setup?setupid=PersonalSetup" role="menuitem">
                                  <p class="slds-truncate">My Setting</p>
                                </a>
                              </li>
                              <li class="slds-dropdown__item">
                                <a href="/_ui/core/userprofile/UserProfilePage?tab=sfdc.ProfilePlatformFeed" role="menuitem">
                                  <p class="slds-truncate">My Profile</p>
                                </a>
                              </li>
                              <li class="slds-dropdown__item">
                                <apex:outputLink value="/apex/EmployeeCommunity_Help_Page" target="_blank"><p class="slds-truncate">Help &#38; Training</p></apex:outputLink>
                                </li>
                              <li class="slds-dropdown__item">
                                <apex:outputLink value="{!$Site.Prefix}/secur/logout.jsp" rendered="{!NOT(ISPICKVAL($User.UserType,'Guest'))}"><p class="slds-truncate">{!$Label.site.logout}</p></apex:outputLink>
                                </li>
                            </ul>
                          </div>
                        </div>                  
                    </li>
                </ul>
            </div>
            
        </div>
</div>

    
    <!-- Navigation Wrapper -->
    <div class="nav-wrapper grey-block is-shrink  slds-small-size--1-of-3 slds-medium-size--2-of-5 slds-large-size--1-of-7 slds-float--left">
<!--
        <div class= "left-nav__header slds-m-vertical--small slds-m-bottom--xx-small slds-clearfix">
            <a class="left-nav__link" href="">
                <div class="left-nav-link__icon slds-size--1-of-6 slds-float--left slds-p-around--medium">
                    <span class="slds-icon_container slds-icon-standard-account grey-block" title="Menu">
                      <svg aria-hidden="true" class="slds-icon slds-icon--small white-block__icon">
                        <use xlink:href="{!URLFOR($Resource.SLDS203,'assets/icons/utility-sprite/svg/symbols.svg#rows')}"></use>
                      </svg>
                      <span class="slds-assistive-text">Menu Toggler</span>
                    </span>
                </div>
            </a>
        </div>-->
        
        <div class= "left-nav__items slds-p-bottom--small">
            <ul id="main-menu" class="left-nav__menu">
                <li class="slds-clearfix slds-m-left--xx-small">
                    <a class="menu__link" href="/_ui/core/userprofile/UserProfilePage">
                        <div class="menu__icon slds-float--left slds-p-around--small slds-m-around--small">
                            <span class="slds-icon_container slds-icon-utility-user grey-block" title="Profile">
                              <svg aria-hidden="true" class="slds-icon slds-icon--small white-block__icon">
                                <use xlink:href="{!URLFOR($Resource.SLDS203,'assets/icons/utility-sprite/svg/symbols.svg#user')}"></use>
                              </svg>
                              <span class="slds-assistive-text">Profile</span>
                            </span>
                        </div>
                        <div class="menu__text slds-float--left slds-p-around--medium slds-section__title">Profile</div>
                    </a>
                </li>
                
                <li class="slds-clearfix slds-m-left--xx-small">
                    <a class="menu__link" href="/apex/EITSCommunity_ChatterFeed_Page">
                        <div class="menu__icon slds-float--left slds-p-around--small slds-m-around--small">
                            <span class="slds-icon_container slds-icon-utility-user grey-block" title="Chatter Feed">
                              <svg aria-hidden="true" class="slds-icon slds-icon--small white-block__icon">
                                <use xlink:href="{!URLFOR($Resource.SLDS203,'assets/icons/utility-sprite/svg/symbols.svg#feed')}"></use>
                              </svg>
                              <span class="slds-assistive-text">Chatter Feed</span>
                            </span>
                        </div>
                        <div class="menu__text slds-float--left slds-p-around--medium slds-section__title">Chatter Feed</div>
                    </a>
                </li>
                
                <li class="slds-clearfix slds-m-left--xx-small">
                    <a class="menu__link" href="/apex/EmployeeCommunity_Recognition_Page">
                        <div class="menu__icon slds-float--left slds-p-around--small slds-m-around--small">
                            <span class="slds-icon_container slds-icon-utility-user grey-block" title="Recognition">
                              <svg aria-hidden="true" class="slds-icon slds-icon--small white-block__icon">
                                <use xlink:href="{!URLFOR($Resource.SLDS203,'assets/icons/action-sprite/svg/symbols.svg#share_thanks')}"></use>
                              </svg>
                              <span class="slds-assistive-text">Recognition</span>
                            </span>
                        </div>
                        <div class="menu__text slds-float--left slds-p-around--medium slds-section__title">Recognition</div>
                    </a>
                </li>
                
                <li class="slds-clearfix slds-m-left--xx-small">
                    <a class="menu__link" href="/apex/CommunityGEARRLandingPage">
                        <div class="menu__icon slds-float--left slds-p-around--small slds-m-around--small">
                            <span class="slds-icon_container slds-icon-utility-user grey-block" title="Link">
                              <svg aria-hidden="true" class="slds-icon slds-icon--small white-block__icon">
                                <use xlink:href="{!URLFOR($Resource.SLDS203,'assets/icons/utility-sprite/svg/symbols.svg#settings')}"></use>
                              </svg>
                              <span class="slds-assistive-text">GEARR</span>
                            </span>
                        </div>
                        <div class="menu__text slds-float--left slds-p-around--medium slds-section__title">GEARR</div>
                    </a>
                </li>
                
               <!-- <li class="slds-clearfix slds-m-left--xx-small">
                    <a class="menu__link" href="">
                        <div class="menu__icon slds-float--left slds-p-around--small slds-m-around--small">
                            <span class="slds-icon_container slds-icon-utility-user grey-block" title="Link">
                              <svg aria-hidden="true" class="slds-icon slds-icon--small white-block__icon">
                                <use xlink:href="{!URLFOR($Resource.SLDS203,'assets/icons/utility-sprite/svg/symbols.svg#question')}"></use>
                              </svg>
                              <span class="slds-assistive-text">Link</span>
                            </span>
                        </div>
                        <div class="menu__text slds-float--left slds-p-around--medium slds-section__title">Link</div>
                    </a>
                </li>
                
                <li class="slds-clearfix slds-m-left--xx-small">
                    <a class="menu__link" href="">
                        <div class="menu__icon slds-float--left slds-p-around--small slds-m-around--small">
                            <span class="slds-icon_container slds-icon-utility-user grey-block" title="Link">
                              <svg aria-hidden="true" class="slds-icon slds-icon--small white-block__icon">
                                <use xlink:href="{!URLFOR($Resource.SLDS203,'assets/icons/utility-sprite/svg/symbols.svg#question')}"></use>
                              </svg>
                              <span class="slds-assistive-text">Link</span>
                            </span>
                        </div>
                        <div class="menu__text slds-float--left slds-p-around--medium slds-section__title">Link</div>
                    </a>
                </li>
                -->
            </ul>
        </div>
        
        
        
    </div>
    
    <!-- Content Wrapper -->
    
    <!--<apex:iframe scrolling="false" height="100%" src="https://experian--maintdev.cs41.my.salesforce.com/_ui/core/chatter/ui/ChatterPage?isdtp=nv"/>-->
    <div id="top" class="right-wrapper  slds-small-size--2-of-3 slds-medium-size--3-of-5 slds-large-size--5-of-6 slds-float--right is-shrink">
    
        
        <div class="content-block">
        
        <div id="chatter" style="height:100%">
            <div class="chatterWrapper section-row__wrapper slds-p-vertical--medium cell--display">
           
            <apex:iframe scrolling="false" src="/apex/ChatterCustom"/>
            <!-- <apex:iframe scrolling="false" height="100%" src="https://experian--maintdev.cs41.my.salesforce.com/_ui/core/chatter/ui/ChatterPage?isdtp=nv"/>-->
            </div>
            </div>
            <!-- Footer -->
            
            <div id="footer" class="slds-p-around--xx-large grey-block slds-align--absolute-center">
         
                <ul id="footer_menu" class="slds-list--horizontal slds-has-dividers--left">
                  <li class="slds-item">&#169;2016 Experian Information Solutions, Inc.</li>
                  <li class="slds-item">All rights reserved</li>
                  <li class="slds-item"><a href="http://www.experian.com/">Experian.com</a></li>
                  <li class="slds-item"><a href="http://www.experian.com/privacy/index.html">Privacy Policy</a></li>
                  <li class="slds-item"><a href="http://zoomglobal/services/DiscoverExperian/Pages/discoverexperian.aspx">About Experian</a></li>
                  <li class="slds-item"><a href="http://zoomglobal/departments/DigitalWorkPlace">Contact Us</a></li>
                  <li class="slds-item"><img src = '{!$Resource.Logo_white}'/></li>
                </ul>

            </div>
            
        
        </div>
    </div>
</div>


  </div>        <!--Experian-scope-->
  
       <script>
   
   // Added by Richard
   
    /*function pixTimeChange() {
      var t=new Date();
      var h = t.getHours();
      var globalStaticResourcePath = '{!URLFOR($Resource.EITSCommunitiesResNew)}';
      var r1=globalStaticResourcePath +'/earlyMorning.jpg';
      var r2=globalStaticResourcePath +'/dayTime.jpg';
      var r3=globalStaticResourcePath +'/nightTime.jpg';
      var el=document.getElementById('myimage');

      // See the time below. Note: The time is in 24 hour format.
      // In the example here, "7" = 7 AM; "17" =5PM.
           el.className = "banner slds-size--1-of-1";
      if(h>=5 && h<11)
              el.className = "banner banner__imageMorning slds-size--1-of-1";
       else if(h>10 && h<17)
               el.className = "banner  banner__imageNoon slds-size--1-of-1";
       else
           el.className = "banner banner__imageEvening slds-size--1-of-1";
           //el.className = "banner banner__imageEvening slds-size--1-of-1";
      //el.src = (h>=7 && h<17) ? r1 : r2;
    }

 
    function addLoadEvent(func) {
      var oldonload = window.onload;
      if (typeof window.onload != 'function') {
        window.onload = func;
      } else {
        window.onload = function() {
          if (oldonload) {
            oldonload();
          }
          func();
        }
      }
    }

    addLoadEvent(function() {
      pixTimeChange();
      myFunction();
    });

    function myFunction() {
        var greeting;
        var time = new Date().getHours();
        if (time >=6  && time <=12 ) {
            greeting = "Good Morning "+ '{!$User.FirstName}' ;
        } else if (time >=13  && time <=17) {
            greeting = "Good Afternoon "+ '{!$User.FirstName}';
        }
        else if (time >=22  && time <=2) {
            greeting = "Hi "+ '{!$User.FirstName}' +", working late, huh?"   ;
        } 
        else if (time >2  && time <6) {
            greeting = "Hi "+ '{!$User.FirstName}' +", Wow! You are up early! "   ;
        } 
         else {
            greeting = "Good Evening "+ '{!$User.FirstName}';
        }
    document.getElementById("greeting").innerHTML = greeting;
    }*/
   //Ends 
   
   
  $("html").click(function() {
      $(".left-nav__header").parent().addClass("is-shrink");
      //$("#top").addClass("is-shrink");
      $(".slds-dropdown-trigger.slds-is-open").removeClass("slds-is-open");
  });
  
  $( ".left-nav__header" ).click(function(e) {
       e.stopPropagation();
      $( ".nav-wrapper" ).toggleClass( "is-shrink" );
      //$( "#top").toggleClass( "is-shrink" );
  });
   
   // News section preview on load
   $( document ).ready(function() {   
       $( ".news-sub__body span" ).each(function() {
          var news_str = $( this ).text() ;
          $( this ).parent().siblings('.news-sub__preview').html(news_str.substr(0,100)+ '...');
        });
        
         $('.news__right div.news__sub').hide(); // hide all slides
          $('.news__right div.news__sub:first-child').show(); // show first slide
          $('.news__right div.news__sub:first-child').next().show(); // show first slide
          setInterval(function () {
            $('.news__right div.news__sub:first-child').hide()
            .next('div.news__sub').fadeIn(2000).end().appendTo('.news__right');
            $('.news__right div.news__sub:first-child').next().fadeIn(700);
          }, 20000); // slide duration
    });
    
    // Read More button
    
    $(".news--btn").click(function() {
        $("#screen").addClass("active");
        var openBracket = "&#123;!";
        var closeBracket = "&#125;";
        var test = $(this).attr("data-value");
        var test1 = "{!JSENCODE(featured[0].Headline__c)}";
        var test2 = openBracket;
        console.log('test1 ' + test1);
        console.log('test2 ' + test2);
        $("#screen #paper #headline").html("{!JSENCODE(featured[0].Headline__c)}");
        //$("#screen").css({ 'width':$(document).width(),'height':$(document).height()});
    });
    
    $("#screen").click(function() {
        $(this).removeClass("active");
    });
    $( "#paper" ).click(function(e) {
       e.stopPropagation();
    });
    
    // News More button
  $(".news-sub__more").click(function() {
    $(this).closest($('div.section__row')).css('height', 'auto');
    $(this).find($(".more")).toggleClass("slds-hide");
    $(this).find($(".less")).toggleClass("slds-hide");
    $(this).siblings( ".news-sub__body" ).toggleClass("slds-hide").toggleClass("slds-show");
    $(this).siblings( ".news-sub__preview" ).toggleClass("slds-hide").toggleClass("slds-show");
    onresize();
  });

  $(".slds-dropdown-trigger").click(function(e) {
       e.stopPropagation();
    $(this).toggleClass("slds-is-open");
  });

var onresize = function(e) {

$('div.section__row').css('height', '');
var t=0; // the height of the highest element (after the function runs)
var t_elem;  // the highest element (after the function runs)
$("div.section__row .section-row__wrapper").each(function () {
    $this = $(this);
    if ( $this.outerHeight() > t ) {
        t_elem=this;
        t=$this.outerHeight();
    }
});
   $("div.section__row ").height(t);
   //$("div.section__row ").css("min-height", t);
}
$(document).ready(onresize);
$(window).on('resize',onresize);



</script>

</body>
</html>
</apex:page>