<apex:page controller="EmployeeCommunity_Home_Cntrl" showHeader="false" standardStylesheets="false" sidebar="false" docType="html-5.0">

<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
<head>
  <meta charset="utf-8" />
  <title>Employee Community</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/> 


  <apex:stylesheet value="{!URLFOR($Resource.GEARR_Res1, '/assets/css/main.css')}" />
  <apex:stylesheet value="{!URLFOR($Resource.SLDS214, 'assets/styles/salesforce-lightning-design-system.min.css')}" />
  <apex:stylesheet value="{!URLFOR($Resource.EmployeeCommunity_MainRes_2017, 'css/community_mainstyles.css')}" />
 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{!URLFOR($Resource.EmployeeCommunity_MainRes_2017, 'script/community_script.js')}"></script>
  <script src="{!URLFOR($Resource.EmployeeCommunity_MainRes_2017, 'script/svg4everybody.js')}"></script>  
  <script>svg4everybody();</script>
  

<style>
#banner {
        padding: 9em 0 7em 0 ;
        background-color: #423e3a;
        background-image:url('{!URLFOR($Resource.GEARR_Res1, '/images1/gearrProcessV8.png')}');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        color: #cfcecd;
    }

ul.dropdown__list {
    width:150px;
  }
  
  .experianSLDS ul.dropdown__list li a{
    color:#a11881;
    font-size:1.15em;
  }
  
  .experianSLDS ul.dropdown__list li a:hover{
    color:#a11881;
  }
   section.textformatGEARR {
      font-size:1.25em;
  }
  
  #page-wrapper {
    padding-top:0px;
    font-size:12px;
  }
  
  #page-wrapper ul li {
    margin:0;
    padding:0;
  }
  
  input[type="submit"].special, input[type="reset"].special, input[type="button"].special, .button.special {
        //background-color: rgb(0, 171, 170) !important;
        background-image:none;
        line-height:3em;
        display:block;
        padding: 0 1.25em;
  }
  
   input[type="submit"].special:hover, input[type="reset"].special:hover, input[type="button"].special:hover, .button.special:hover {
        //background-color: #f99e79;
        background-image:none;
   }
   
   body .x-btn button, body .btn, body .btnImportant, body .btnDisabled, body .btnCancel, body .menuButton .menuButtonButton, body .menuButton .menuButtonMenu a, body .menuButton .menuButtonMenu input.theOption, h1, h2, h3, h4, h5, h6 {
   font-family:"Salesforce Sans", Arial, sans-serif;
   display:block;
   }
</style>

</HEAD>
<!-- REQUIRED SLDS WRAPPER -->
<div class="experianSLDS">
    <div class="landing">

        <!-- Header -->
            <div id="" >
            
             
             
  <div >
      <!--Template-->
    <apex:composition template="expcomm_newTemplate">
        <apex:define name="item1">
            <li class="menu-item slds-float--left slds-p-around--small slds-m-right--small slds-m-left--none slds-has-list-interactions"><a href="{!$Site.Prefix}/apex/EmployeeCommunity_GEARR_Home_Page" class="slds-text-heading--small">GEAR HOME</a></li>
        </apex:define>
        
        <apex:define name="item2">
            <li class="menu-item slds-float--left slds-p-around--small slds-m-right--small slds-m-left--none slds-has-list-interactions">
            <div class="slds-dropdown-trigger slds-dropdown-trigger--click" aria-expanded="true">
                <!--<button class="slds-button " aria-haspopup="true">   -->                  
                  <a href="#" class="slds-text-heading--small">REPOSITORY AND RESOURCES</a>                 
                  <!--</button>-->
                <div class="slds-dropdown slds-dropdown--right slds-nubbin--top-left">
                  <ul class="dropdown__list" role="menu">
                    <li class="slds-dropdown__item">
                      <a href="{!$Site.Prefix}/apex/EmployeeCommunity_GEARR_Repository_Page" role="menuitem">
                        <p class="slds-truncate">Repository</p>
                      </a>
                    </li>
                    <li class="slds-dropdown__item">
                      <a href="{!$Site.Prefix}/apex/EmployeeCommunity_GEARR_Library_Page" role="menuitem">
                        <p class="slds-truncate">Library</p>
                      </a>
                    </li>
                    <li class="slds-dropdown__item">
                      <a href="{!$Site.Prefix}/apex/EmployeeCommunity_GEARR_ARB_Page" role="menuitem">
                        <p class="slds-truncate">ARB</p>
                      </a>
                    </li>
                    </ul>
                    </div>
              </div>  
            
            </li>
        </apex:define>
        
        <apex:define name="item3">
            <li class="menu-item slds-float--left slds-p-around--small slds-m-right--small slds-m-left--none slds-has-list-interactions"><a href="{!$Site.Prefix}/apex/EmployeeCommunity_GEARR_Contact_Page" class="slds-text-heading--small">GET IN TOUCH</a></li>
        </apex:define>
        <apex:define name="item4">
             <li class="menu-item slds-float--left slds-p-around--small slds-m-right--small slds-m-left--none slds-has-list-interactions"><a href="{!$Site.Prefix}/apex/EmployeeCommunity_GEARR_FAQ_Page" class="slds-text-heading--small">FAQ</a></li>
        </apex:define>
        <apex:define name="item5">
        </apex:define>
    </apex:composition>
    <!--Template-->

</div>
            </div>
             

        <!-- Page Wrapper -->
            <div id="page-wrapper">
                <!-- Main-->
                    <div id="main" class="wrapper style3">
                        <div class="container">
                            <header class="major" style="font-size:1.90em;">
                                <h2><b>Enterprise Architecture Repository</b></h2>
                            </header>
                            
                            
                            <div class="row 200%">
                                <div class="4u 12u$(medium)">
                                    <!-- Sidebar -->
                                        <section id="sidebar" calss="textformatGEARR">
                                                <h3>Learn to Use <img src="{!URLFOR($Resource.GEARR_Res1,'/images1/CasewiseLogotype.png')}" style="height:1em"/></h3>
                                                <br style="line-height:1.5" />
                                                <p>Modeling, entering data in the database:</p>
                                                <br style="line-height:1.5" />
                                                    <ul class="actions"><li><a href="https://experian--c.na15.content.force.com/sfc/servlet.shepherd/version/download/068i0000002dH9T?asPdf=false&operationContext=CHATTER" class="button special small" target="_blank">CasewiseSuite User Guide</a></li></ul>
                                                    <br style="line-height:1.5" />
                                                <p>User access and permissions, maintenance:</p>
                                                <br style="line-height:1.5" />
                                                    <ul class="actions"><li><a href="https://experian--c.na15.content.force.com/sfc/servlet.shepherd/version/download/068i0000002dH9E?asPdf=false&operationContext=CHATTER" class="button special small" target="_blank">CasewiseSuite Admin Guide</a></li></ul>
                                                    <br style="line-height:1.5" />
                                                <p>Data input/processing, modeling, analysis:</p>
                                                <br style="line-height:1.5" />
                                                    <ul class="actions"><li><a href="https://experian--c.na15.content.force.com/sfc/servlet.shepherd/version/download/068i0000002dH9O?asPdf=false&operationContext=CHATTER" class="button special small" target="_blank">Evolve User Guide</a></li></ul>
                                                    <br style="line-height:1.5" />
                                                <p>EITS Graduates:</p>                                                
                                                <br style="line-height:1.5" />
                                                    <ul class="actions"><li><a href="https://casewise.uk.experian.local/evolve/sites/gearr/index.html#cwtype=index&cwview=index_work_packages_gearr" class="button special small" target="_blank">DATA CONTRIBUTORS</a></li></ul>
                                                    <br style="line-height:1.5" />
                                                <p>Inro to Global EA/GEARR/TOGAF</p>
                                                <br style="line-height:1.5" />
                                                    <ul class="actions"><li><a href="https://experian--c.na15.content.force.com/sfc/servlet.shepherd/version/download/068i0000002dH9J?asPdf=false&operationContext=CHATTER" class="button special small" target="_blank">Enterprise Architecture</a></li></ul>
                                                    <br style="line-height:1.5" />
                                                <p>FAQs, tutorials, community discussion:</p>
                                                <br style="line-height:1.5" />
                                                    <ul class="actions"><li><a href="https://experian.my.salesforce.com/_ui/core/chatter/groups/GroupProfilePage?g=0F9i00000005XdV" class="button special small" target="_blank">Chatter Community</a></li></ul>
                                                    <br style="line-height:1.5" />
                                                <p>Having trouble logging in to Casewise?</p>
                                                <br style="line-height:1.5" />
                                                    <ul class="actions"><li><a href="mailto:gearr@experian.com" class="button special small">Get Help</a></li></ul>
                                                    <br style="line-height:1.5" />
                                        </section>
                                </div>
                                
                                <div class="8u 12u$(medium) important(medium)">

                                    <!-- Content -->
                                        <section id="content" calss="textformatGEARR">
                                            <h3>How It Works</h3>
                                            <p>This is the gateway to understanding the scope of Experian's technology portfolio, managing complexity, and performing application rationalization and analysis.<br/>
                                        1) It will aggregate the full inventory of Experian's complex technology environment into a single, globally-accessible view (currently records are scattered across the regions in various formats). This will be a joint effort between Enterprise Architects and teams/departments/business units. <br/>
                                        2) When the information has been collected and documented in the Repository, we can identify redundant and outdated applications, areas where more IT resources are needed, and which system processes are inefficient.</p>
                                        <br/>
                                        <p>The Repository is powered by 2 Casewise products: Evolve and CasewiseSuite. Evolve is an easy-to-use online portal that SMEs and Data Contributors will use to input, process, and analyze data. The Suite+Modeler provides a more powerful architecture modeler and data view accessible via Remote Desktop Connection. Both interfaces of the Repository are physically inventoried in the ServiceNow database.</p>
                                        <hr/>
                                        <h3>GEARR Repository</h3> <br/>
                                        <img src="{!URLFOR($Resource.GEARR_Res3,'images2/EvolveRepositoryHeader.png')}" class="image fit"/> 
                                        <br/>
                                        <ul class="actions"><li><a href="https://casewise.uk.experian.local/evolve/sites/gearr/index.html" target="_blank" class="button special small">Open GEARR</a></li></ul>
                                        <br/>
                                        <hr/>
                                        <br/>
                                        <h4>Casewise Suite+Modeler</h4><br/>
                                        <!--<img src="{!URLFOR($Resource.GEARR_Res2,'images2/RepositoryHeader.png')}" class="image fit"/> 
                                        -->
                                        <!--<img src="{!URLFOR($Resource.GEARR_Res3,'/images2/Evolve4.png')}" style="width:33%;" alt="library standards menu preview"/>
                                        <img src="{!URLFOR($Resource.GEARR_Res1,'/images1/2Metamodel.png')}" style="width:33%;" alt="metamodel object key"/>
                                        <img src="{!URLFOR($Resource.GEARR_Res1,'/images1/2Librarycopy.png')}" style="width:33%;" alt="library standards menu preview"/> -->
                                        <img src="{!URLFOR($Resource.GEARR_Res2,'images2/RepositoryHeader.png')}" class="image fit"/> 
                                        <br/>
                                        <!--<p><i>Repository Access for Architects</i></p>
                                            The Suite contains a powerful architecture modeler (think Visio on steroids) and data view accessible via Remote Desktop Connection. Access is for executive leadership, enterprise architects, business line managers, business users, and business line architects<br/> -->
                                            <p><b><u>PC Users:</u></b> Find Microsoft Remote Desktop in your applications folder and add a new desktop with the connection and PC name: cws-rd-farm.uk.experian.local<br/>
                                            <b><u>Mac Users:</u></b> <a href="https://itunes.apple.com/us/app/microsoft-remote-desktop/id715768417?mt=12" target="_blank">Download Microsoft Remote Desktop</a> and add a new desktop with the connection and PC name: cws-rd-farm.uk.experian.local</p>
                                            
                                       <!-- <h4>Casewise Evolve</h4>
                                            <p><i>Repository Access for SMEs and Other Users</i></p>
                                            <p>Evolve is an easy-to-use online portal that subject matter experts will use to input, process, and analyze data.</p>-->
                                            <ul class="actions"><li><a href="mailto:gearr@experian.com" target="_blank" class="button special small">Request Access</a></li></ul>
                                        </section>
                                </div>
                            </div>
                        </div>
                    </div>
            <!-- Footer -->
               <!-- Footer -->
              <!--Footer - Template-->
            <apex:composition template="Community_template_footer"></apex:composition>


            </div>

        <!-- Scripts 
            <script src="assets/js/jquery.min.js"></script>
            <script src="assets/js/jquery.dropotron.min.js"></script>
            <script src="assets/js/skel.min.js"></script>
            <script src="assets/js/util.js"></script>
            
            <script src="assets/js/main.js"></script>
            <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
            
            <apex:includeScript value="{!URLFOR($Resource.GEARR_Res1, '/assets/js/jquery.min.js')}" />
            <apex:includeScript value="{!URLFOR($Resource.GEARR_Res1, '/assets/js/jquery.dropotron.min.js')}" />
            <apex:includeScript value="{!URLFOR($Resource.GEARR_Res1, '/assets/js/skel.min.js')}" />
            <apex:includeScript value="{!URLFOR($Resource.GEARR_Res1, '/assets/js/util.js')}" />
            <apex:includeScript value="{!URLFOR($Resource.GEARR_Res1, '/assets/js/main.js')}"/ >
 
    </div>
    </div>
</html>
</apex:page>