<apex:page showHeader="false" sidebar="false" controller="ExpComm_ITServiceKnowledgePageController" >
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
        <head>
            <meta charset="utf-8" />
            <title>IT Service</title>
            <meta http-equiv="x-ua-compatible" content="ie=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
    
            <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
            <script src="{!URLFOR($Resource.EmployeeCommunity_MainRes_2017, 'script/community_script.js')}"></script>
            <script src="{!URLFOR($Resource.EmployeeCommunity_MainRes_2017, 'script/svg4everybody.js')}"></script>  
            <script>svg4everybody();</script>

            <apex:stylesheet value="{!URLFOR($Resource.SLDS214, 'assets/styles/salesforce-lightning-design-system.min.css')}" />
            <apex:stylesheet value="{!URLFOR($Resource.EmployeeCommunity_MainRes_2017, 'css/community_mainstyles.css')}" />

            <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" />
            

            <script type="text/javascript">
            
                // var isk_colorList = ["#26478D", "#C8C922", "#406EB3", "#E2A235", "#BA2F7D", "#982881", "#BB0048", "#3D87AF", "#632678", "#FDE723"];
                var isk_colorList = ["#632678", "#982881", "#ba2f7d", "#26478d", "#406eb3"];
                var commu_prefix = "{!$Site.Prefix}";
                if (commu_prefix == undefined || commu_prefix == '') {
                    commu_prefix = '/apex';
                }
                
                //This will modify the current page url without refreshing the page and will help maintain the state of the page
                function updateURL(categoryId) {
                  if (history.pushState) {
                      var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + '?u=' + categoryId;
                      window.history.pushState({path:newurl},'',newurl);
                  }
                }
                
                function addBorder(categoryId) {
                    for(i=1; i<=5; i++) {
                        var categoryString = '.categoryBorder-'+i;
                        if(i == categoryId)
                            $(categoryString).addClass("highlightcategory");
                        else
                            $(categoryString).removeClass("highlightcategory");
                    }
                }
                
                function displayItServices() {
                    renderItServices();
                    updateURL('1');
                }
                
                function displayFac_Security() {
                    renderFac_Security();
                    updateURL('2');
                }
                
                function displayBusinessResources() {
                    renderBusinessResources();
                    updateURL('3');
                }
                
                function displayHr() {
                    renderHr();
                    updateURL('4');
                }
                
                function displayFinance() {
                    renderFinance(); 
                    updateURL('5');
                }
                
                function highlightCategoryOnLoad() {
                    var temp = '{!renderCategories}';
                    if(temp == 1) {
                        $(".categoryBorder-1").addClass("highlightcategory");
                    }
                    else if (temp == 2) {
                        $(".categoryBorder-2").addClass("highlightcategory");
                    }
                    else if (temp == 3) {
                        $(".categoryBorder-3").addClass("highlightcategory");
                    }
                    else if (temp == 4) {
                        $(".categoryBorder-4").addClass("highlightcategory");
                    }
                    else if (temp == 5) {
                        $(".categoryBorder-5").addClass("highlightcategory");
                    }
                }
                
                function isk_openArticleDetailPage(idStr, urlNameStr) {
                    
                    window.open(location.protocol + "//" + location.host + commu_prefix + "/ExpComm_KnowledgeArticleDetailPage?id=" + idStr + '&urlName=' + urlNameStr, "_self");
                }
                
                function isk_changeCategoryTitleColor() {
                    for (i = 0; i < isk_colorList.length; i++) {
                        $('.one-category-'+i).css('background-color', '').css('background-color', isk_colorList[i]);
                    }
                    highlightCategoryOnLoad();
                }
                
                
                var isk_oldWindowOnload = window.onload;

                if (typeof window.onload != 'function') {
                    window.onload = isk_changeCategoryTitleColor;
                }
                else {
                    window.onload = function() {
                        if (isk_oldWindowOnload) { 
                            isk_oldWindowOnload();
                        }
                        isk_changeCategoryTitleColor();
                    }
                }
                
                function kafs_openCaseCreatePage() {
                    var commu_prefix = "{!$Site.Prefix}";
                    if (commu_prefix == undefined || commu_prefix == '') {
                        commu_prefix = '/apex';
                    }
                    window.open(location.protocol + "//" + location.host + commu_prefix + "/apex/expcomm_caseCreate?reason=knowledge", "_self");
                }
                
                $(window).scroll(function() {
                    //alert('scroling');
                    $('#myElement').css('top', $(this).scrollTop() + "px");
                });
                
            </script>
    
        </head>

        <body class="slds-m-top--none">

            <div class="experianSLDS">

                <div class="wrapper slds-size--1-of-1">

                    <apex:composition template="expcomm_newTemplate">
            
                    </apex:composition>

                    <apex:outputPanel styleClass="isk-main-wrapper" layout="block" id="it-service">

                        <div class="isk-center-inline-block">
                            <div class="isk-top-level-image-search-help">
                                <div class="isk-search"><c:ExpComm_SearchArticlesCmp dataCategory="IT_Services__c"/></div>
                            </div>
                            
                            <div class="isk-divider">
                                <div class="isk-divider-structure">
                                    <apex:outputPanel styleClass="isk-divider-level">
                                        <a onclick="window.open(location.protocol + '//' + location.host + commu_prefix + '/expcomm_newCommunity', '_self');">Home</a>
                                    </apex:outputPanel>
                                    <apex:outputPanel styleClass="isk-divider-level">
                                        ►
                                    </apex:outputPanel>
                                    <apex:outputPanel styleClass="isk-divider-level">
                                        <a onclick="window.open(location.protocol + '//' + location.host + commu_prefix + '/ExpComm_KnowledgeArticleFilterSearch', '_self');">Experian All</a>
                                    </apex:outputPanel>
                                    <apex:outputPanel styleClass="isk-divider-level">
                                        ►
                                    </apex:outputPanel>
                                    <apex:outputPanel id="breadcrumb">
                                        <apex:outputPanel styleClass="isk-divider-level isk-divider-level-special" rendered="{!IF(renderCategories = '1',true,false)}">
                                            <a class="kadp-category-level-link" onclick="window.open(location.protocol + '//' + location.host + commu_prefix + '/ExpComm_KnowledgeArticleFilterSearch?searchTerm=IT Services', '_self');">IT Services</a>
                                       </apex:outputPanel>
                                       <apex:outputPanel styleClass="isk-divider-level isk-divider-level-special" rendered="{!IF(renderCategories = '2',true,false)}">
                                            <a class="kadp-category-level-link" onclick="window.open(location.protocol + '//' + location.host + commu_prefix + '/ExpComm_KnowledgeArticleFilterSearch?searchTerm=Facilities/Security', '_self');">Facilities/Security</a>
                                       </apex:outputPanel>
                                       <apex:outputPanel styleClass="isk-divider-level isk-divider-level-special" rendered="{!IF(renderCategories = '3',true,false)}">
                                            <a class="kadp-category-level-link" onclick="window.open(location.protocol + '//' + location.host + commu_prefix + '/ExpComm_KnowledgeArticleFilterSearch?searchTerm=Business Resources', '_self');">Business Resources</a>
                                       </apex:outputPanel>
                                       <apex:outputPanel styleClass="isk-divider-level isk-divider-level-special" rendered="{!IF(renderCategories = '4',true,false)}">
                                            <a class="kadp-category-level-link" onclick="window.open(location.protocol + '//' + location.host + commu_prefix + '/ExpComm_KnowledgeArticleFilterSearch?searchTerm=HR', '_self');">HR</a>
                                       </apex:outputPanel>
                                       <apex:outputPanel styleClass="isk-divider-level isk-divider-level-special" rendered="{!IF(renderCategories = '5',true,false)}">
                                            <a class="kadp-category-level-link" onclick="window.open(location.protocol + '//' + location.host + commu_prefix + '/ExpComm_KnowledgeArticleFilterSearch?searchTerm=Finance', '_self');">Finance</a>
                                       </apex:outputPanel>
                                   </apex:outputPanel>
                                </div>
                            </div>
                            
                    
                            <div class="isk-container-block"> 
                                <div class="isk-container-block-cat">
                                <div id="divits" style="background-color:#632678" class="isk-it-service-badge categoryBorder-1">
                                    <div class="isk-it-service-badge-icon">
                                        <apex:image styleClass="kadp-category-level-link" url="{!URLFOR($Resource.IT_Service_Knowledge_DC_icons, 'it_service_It_Service.png')}" width="100" height="100" onclick="displayItServices();"/>
                                        <!--<img src="{!URLFOR($Resource.IT_Service_Knowledge_DC_icons, 'it_service_It_Service.png')}" border = "5" width="100" height="100" onclick="displayItServices();"/>-->
                                    </div>
                                    <div class="isk-it-service-label">
                                        <a class="kadp-category-level-link-cat" style="font-size:18px" onclick="displayItServices();">IT Services</a>
                                    </div>
                                </div>
                                </div>
                                <div class="isk-container-block-cat">
                                <div id="divfs" style="background-color:#982881" class="isk-it-service-badge categoryBorder-2">
                                    <div class="isk-it-service-badge-icon">
                                        <apex:image styleClass="kadp-category-level-link" url="{!URLFOR($Resource.IT_Service_Knowledge_DC_icons, 'Facilities_Security.png')}" width="100" height="100" onclick="displayFac_Security();" />
                                    </div>
                                    <div class="isk-it-service-label">
                                        <a class="kadp-category-level-link-cat" style="font-size:16px" onclick="displayFac_Security();">Facilities/Security</a>
                                    </div>
                                </div>
                                </div>
                                <div class="isk-container-block-cat">
                                <div id="divbr" style="background-color:#ba2f7d" class="isk-it-service-badge categoryBorder-3">
                                    <div class="isk-it-service-badge-icon">
                                        <apex:image styleClass="kadp-category-level-link" url="{!URLFOR($Resource.IT_Service_Knowledge_DC_icons, 'business_resources.png')}" width="100" height="100" onclick="displayBusinessResources()" />
                                    </div>
                                    <div class="isk-it-service-label">
                                        <a class="kadp-category-level-link-cat" style="font-size:15px" onclick="displayBusinessResources();">Business Resources</a>
                                    </div>
                                </div>
                                </div>
                                <div class="isk-container-block-cat">
                                <div id="divhr" style="background-color:#26478d" class="isk-it-service-badge categoryBorder-4">
                                    <div class="isk-it-service-badge-icon">
                                        <apex:image styleClass="kadp-category-level-link" url="{!URLFOR($Resource.IT_Service_Knowledge_DC_icons, 'HR.png')}" width="100" height="100" onclick="displayHr();" />
                                    </div>
                                    <div class="isk-it-service-label">
                                        <a class="kadp-category-level-link-cat" style="font-size:18px" onclick="displayHr();">HR</a>
                                    </div>
                                </div>
                                </div>
                                <div class="isk-container-block-cat">
                                <div id="divfinance" style="background-color:#406eb3" class="isk-it-service-badge categoryBorder-5">
                                    <div class="isk-it-service-badge-icon">
                                        <apex:image styleClass="kadp-category-level-link" url="{!URLFOR($Resource.IT_Service_Knowledge_DC_icons, 'finance.png')}" width="100" height="100" onclick="displayFinance();" />
                                    </div>
                                    <div class="isk-it-service-label">
                                        <a class="kadp-category-level-link-cat" style="font-size:18px" onclick="displayFinance();">Finance</a>
                                    </div>
                                </div>
                                </div>
                                
                              
                                <style>
                                    
                                    .highlightcategory {
                                        border-width : 9px;
                                        border-style : solid;
                                        border-color : #e5314c;
                                        
                                    }
                                    
                                    .kadp-category-level-link-cat {
                                        color: #f9fbff;
                                    }
                                    
                                    .kadp-category-level-link-cat:hover {
                                        text-decoration: none;
                                        color: #f9fbff;
                                    }
                                    .isk-container-block-cat {
                                        display: inline-block;
                                        text-align: center;
                                        margin-left:4%;
                                        font-family: 'Roboto', sans-serif !important;
                                        font-size: 14px !important;
                                    }
                                    .isk-container-block-cat:first-child {
                                        margin-left: 0;
                                    }
                                </style>
                                
                                <apex:outputPanel layout="none" styleClass="all-categories" id="categoriesAll">
                                    <apex:outputPanel rendered="{!IF(renderCategories = '1',true,false)}" >
                                        <apex:repeat value="{!dataCatAndArticlesList}"  var="oneDataCategoryArtWrapper">
                                            
                                            <apex:outputPanel rendered="{!oneDataCategoryArtWrapper.articleVersionList.size > 0}">
                                                <div class="isk-one-categories">
             
                                                    <div class="isk-one-cat-title one-category-{!oneDataCategoryArtWrapper.colorOption}">
                                                        <div class="isk-one-cat-title-icon">
                                                            <apex:variable var="imageVar" value="{!oneDataCategoryArtWrapper.categoryImageIcon}"/>
                                                            <apex:image url="{!URLFOR($Resource.IT_Service_Knowledge_DC_icons, imageVar)}" width="50" height="50"/>
                                                        </div>
                                                        <div class="isk-one-cat-label">{!oneDataCategoryArtWrapper.categoryLable}</div>
                                                    </div>
        
                                                    <div class="isk-all-articles">
                                                        <apex:repeat value="{!oneDataCategoryArtWrapper.articleVersionList}" var="oneArticle" rendered="{!oneDataCategoryArtWrapper.articleVersionList.size > 0}">
                                                            <div class="isk-one-artile-title-link"><a class="isk-article-link" onclick="isk_openArticleDetailPage('{!oneArticle.KnowledgeArticleId}', '{!oneArticle.urlName}')">{!oneArticle.Title}</a></div>
                                                        </apex:repeat>
        
                                                        <apex:outputPanel styleClass="isk-no-article-in-sub-cat" rendered="{!oneDataCategoryArtWrapper.articleVersionList.size == 0}">
                                                            <div class="isk-one-artile-title-link isk-no-article">No Article Available</div>
                                                        </apex:outputPanel>
                                                    </div>
                                                </div>
                                            </apex:outputPanel>
                                            
                                        </apex:repeat>
                                    </apex:outputPanel> 

                                    
                                    <apex:outputPanel rendered="{!IF(renderCategories = '2',true,false)}" > 
                                        <apex:repeat value="{!dataCatAndArticlesListFS}"  var="oneDataCategoryArtWrapper">
                                
                                            <apex:outputPanel rendered="{!oneDataCategoryArtWrapper.articleVersionList.size > 0}">
                                                <div class="isk-one-categories">
             
                                                    <div class="isk-one-cat-title one-category-{!oneDataCategoryArtWrapper.colorOption}">
                                                        <div class="isk-one-cat-title-icon">
                                                            <apex:variable var="imageVar" value="{!oneDataCategoryArtWrapper.categoryImageIcon}"/>
                                                            <apex:image url="{!URLFOR($Resource.IT_Service_Knowledge_DC_icons, imageVar)}" width="50" height="50"/>
                                                        </div>
                                                        <div class="isk-one-cat-label">{!oneDataCategoryArtWrapper.categoryLable}</div>
                                                    </div>
        
                                                    <div class="isk-all-articles">
                                                        <apex:repeat value="{!oneDataCategoryArtWrapper.articleVersionList}" var="oneArticle" rendered="{!oneDataCategoryArtWrapper.articleVersionList.size > 0}">
                                                            <div class="isk-one-artile-title-link"><a class="isk-article-link" onclick="isk_openArticleDetailPage('{!oneArticle.KnowledgeArticleId}', '{!oneArticle.urlName}')">{!oneArticle.Title}</a></div>
                                                        </apex:repeat>
        
                                                        <apex:outputPanel styleClass="isk-no-article-in-sub-cat" rendered="{!oneDataCategoryArtWrapper.articleVersionList.size == 0}">
                                                            <div class="isk-one-artile-title-link isk-no-article">No Article Available</div>
                                                        </apex:outputPanel>
                                                    </div>
                                                </div>
                                            </apex:outputPanel>
                                            
                                        </apex:repeat>
                                    </apex:outputPanel>
                                    
                                    <apex:outputPanel rendered="{!IF(renderCategories = '3',true,false)}" > 
                                        <apex:repeat value="{!dataCatAndArticlesListBR}"  var="oneDataCategoryArtWrapper">
                                            
                                            <apex:outputPanel rendered="{!oneDataCategoryArtWrapper.articleVersionList.size > 0}">
                                                <div class="isk-one-categories">
             
                                                    <div class="isk-one-cat-title one-category-{!oneDataCategoryArtWrapper.colorOption}">
                                                        <div class="isk-one-cat-title-icon">
                                                            <apex:variable var="imageVar" value="{!oneDataCategoryArtWrapper.categoryImageIcon}"/>
                                                            <apex:image url="{!URLFOR($Resource.IT_Service_Knowledge_DC_icons, imageVar)}" width="50" height="50"/>
                                                        </div>
                                                        <div class="isk-one-cat-label">{!oneDataCategoryArtWrapper.categoryLable}</div>
                                                    </div>
        
                                                    <div class="isk-all-articles">
                                                        <apex:repeat value="{!oneDataCategoryArtWrapper.articleVersionList}" var="oneArticle" rendered="{!oneDataCategoryArtWrapper.articleVersionList.size > 0}">
                                                            <div class="isk-one-artile-title-link"><a class="isk-article-link" onclick="isk_openArticleDetailPage('{!oneArticle.KnowledgeArticleId}', '{!oneArticle.urlName}')">{!oneArticle.Title}</a></div>
                                                        </apex:repeat>
        
                                                        <apex:outputPanel styleClass="isk-no-article-in-sub-cat" rendered="{!oneDataCategoryArtWrapper.articleVersionList.size == 0}">
                                                            <div class="isk-one-artile-title-link isk-no-article">No Article Available</div>
                                                        </apex:outputPanel>
                                                    </div>
                                                </div>
                                            </apex:outputPanel>   
                                            
                                        </apex:repeat>
                                    </apex:outputPanel>
                                    
                                    <apex:outputPanel rendered="{!IF(renderCategories = '4',true,false)}" > 
                                        <apex:repeat value="{!dataCatAndArticlesListHR}"  var="oneDataCategoryArtWrapper">
    
                                            <apex:outputPanel rendered="{!oneDataCategoryArtWrapper.articleVersionList.size > 0}">
                                                <div class="isk-one-categories">
             
                                                    <div class="isk-one-cat-title one-category-{!oneDataCategoryArtWrapper.colorOption}">
                                                        <div class="isk-one-cat-title-icon">
                                                            <apex:variable var="imageVar" value="{!oneDataCategoryArtWrapper.categoryImageIcon}"/>
                                                            <apex:image url="{!URLFOR($Resource.IT_Service_Knowledge_DC_icons, imageVar)}" width="50" height="50"/>
                                                        </div>
                                                        <div class="isk-one-cat-label">{!oneDataCategoryArtWrapper.categoryLable}</div>
                                                    </div>
        
                                                    <div class="isk-all-articles">
                                                        <apex:repeat value="{!oneDataCategoryArtWrapper.articleVersionList}" var="oneArticle" rendered="{!oneDataCategoryArtWrapper.articleVersionList.size > 0}">
                                                            <div class="isk-one-artile-title-link"><a class="isk-article-link" onclick="isk_openArticleDetailPage('{!oneArticle.KnowledgeArticleId}', '{!oneArticle.urlName}')">{!oneArticle.Title}</a></div>
                                                        </apex:repeat>
        
                                                        <apex:outputPanel styleClass="isk-no-article-in-sub-cat" rendered="{!oneDataCategoryArtWrapper.articleVersionList.size == 0}">
                                                            <div class="isk-one-artile-title-link isk-no-article">No Article Available</div>
                                                        </apex:outputPanel>
                                                    </div>
                                                </div>
                                            </apex:outputPanel>
                                            
                                        </apex:repeat>
                                    </apex:outputPanel>
                                    
                                    <apex:outputPanel rendered="{!IF(renderCategories = '5',true,false)}" > 
                                        <apex:repeat value="{!dataCatAndArticlesListFinance}"  var="oneDataCategoryArtWrapper">
    
                                            <apex:outputPanel rendered="{!oneDataCategoryArtWrapper.articleVersionList.size > 0}">
                                                <div class="isk-one-categories">
             
                                                    <div class="isk-one-cat-title one-category-{!oneDataCategoryArtWrapper.colorOption}">
                                                        <div class="isk-one-cat-title-icon">
                                                            <apex:variable var="imageVar" value="{!oneDataCategoryArtWrapper.categoryImageIcon}"/>
                                                            <apex:image url="{!URLFOR($Resource.IT_Service_Knowledge_DC_icons, imageVar)}" width="50" height="50"/>
                                                        </div>
                                                        <div class="isk-one-cat-label">{!oneDataCategoryArtWrapper.categoryLable}</div>
                                                    </div>
        
                                                    <div class="isk-all-articles">
                                                        <apex:repeat value="{!oneDataCategoryArtWrapper.articleVersionList}" var="oneArticle" rendered="{!oneDataCategoryArtWrapper.articleVersionList.size > 0}">
                                                            <div class="isk-one-artile-title-link"><a class="isk-article-link" onclick="isk_openArticleDetailPage('{!oneArticle.KnowledgeArticleId}', '{!oneArticle.urlName}')">{!oneArticle.Title}</a></div>
                                                        </apex:repeat>
        
                                                        <apex:outputPanel styleClass="isk-no-article-in-sub-cat" rendered="{!oneDataCategoryArtWrapper.articleVersionList.size == 0}">
                                                            <div class="isk-one-artile-title-link isk-no-article">No Article Available</div>
                                                        </apex:outputPanel>
                                                    </div>
                                                </div>
                                            </apex:outputPanel>
                                           
                                        </apex:repeat>
                                    </apex:outputPanel>
                                    
                                </apex:outputPanel>
                                
                            </div> 

                        </div>
                        
                        <div class="kafs-case-question">
                            Can't find what you are looking for?
                        </div>

                        <div class="kafs-create-case-btn">
                            <button class="kafs-case-btn" onclick="kafs_openCaseCreatePage(); return false;">Suggest a new Knowledge article</button>
                        </div>
                            
                    </apex:outputPanel>
                    

                    <apex:composition template="Community_template_footer"></apex:composition>
                </div>
            </div>
        </body>

        <!--<script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-91356225-2', 'auto');
            ga('send', 'pageview');

            var userId = '{!$User.Id}';
            ga('set', 'userId', userId);
        </script>-->
    </html>
    <apex:form > 
        
        <apex:actionFunction name="renderItServices" action="{!displayItServices}" oncomplete="isk_changeCategoryTitleColor(); addBorder('1');" reRender="breadcrumb,categoriesAll"/>
        <apex:actionFunction name="renderFac_Security" action="{!displayFac_Security}" oncomplete="isk_changeCategoryTitleColor(); addBorder('2');" reRender="breadcrumb,categoriesAll"/>
        <apex:actionFunction name="renderBusinessResources" action="{!displayBusinessResources}" oncomplete="isk_changeCategoryTitleColor(); addBorder('3');" reRender="breadcrumb,categoriesAll"/>
        <apex:actionFunction name="renderHr" action="{!displayHr}" oncomplete="isk_changeCategoryTitleColor(); addBorder('4');" reRender="breadcrumb,categoriesAll"/>
        <apex:actionFunction name="renderFinance" action="{!displayFinance}" oncomplete="isk_changeCategoryTitleColor(); addBorder('5');" reRender="breadcrumb,categoriesAll"/>
    </apex:form> 
</apex:page>