<apex:page standardController="Nomination__c" showHeader="false" standardStylesheets="true" sidebar="false" docType="html-5.0">
<!-- 
Page -        EmployeeCommunity_Home_page
Author -      Hay Mun Win
Description - Landing page for Employee Community-->

<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
<head>
  <meta charset="utf-8" />
  <title>Employee Community</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/> 


  <apex:stylesheet value="{!URLFOR($Resource.SLDS214, 'assets/styles/salesforce-lightning-design-system.min.css')}" />
   <apex:stylesheet value="{!URLFOR($Resource.EmployeeCommunity_MainRes_2017, 'css/community_mainstyles.css')}" />
  
        
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- this part has to be here because of the recognition section-->
  <!-- you can remove this part if you remove recognition section under chatter-->
  <script type="text/javascript">
var jQuery_1_12_4 = $.noConflict(true);
</script>
<!--******-->

  <script src="{!URLFOR($Resource.EmployeeCommunity_MainRes_2017, 'script/community_script.js')}"></script>
  <script src="{!URLFOR($Resource.EmployeeCommunity_MainRes_2017, 'script/svg4everybody.js')}"></script>  
  <script>svg4everybody();</script>

        
</head>
<body class="slds-m-top--none">

  <!-- REQUIRED SLDS WRAPPER -->
  <div class="experianSLDS">

    <!-- Wrapper -->
<div class="wrapper slds-size--1-of-1">
    <!--Template-->
    <apex:composition template="expcomm_newTemplate">

    </apex:composition>
    <!--Template-->
    
    
    <!-- Content Wrapper -->
    <div id="top" class="right-wrapper  slds-small-size--2-of-3 slds-medium-size--3-of-5 slds-large-size--5-of-6 slds-float--right is-shrink">
    
        
        <div class="content-block">
        
            <!--banner-->
            <c:expcommunity_searchImg_cmpt imgURL="{!URLFOR($Resource.EmployeeCommunity_MainRes_2017, '/images/communitybg_Exp.jpg')}"/>
            
            <!--news slider-->
            
            <c:expcommunity_NewsSlider_cmpt />
            
            <c:expcommunity_tabs_cmpt />
            
            <!-- Trending Articles -->
            <div style="margin-bottom: 32px">
                <c:ExpComm_FeaturedKnowledgeArticleCmp />
            </div>
            
            <!-- Chatter-->
            <c:expcommunity_chatter_cmpt />
            
<!--            <apex:remoteObjects jsNamespace="RemoteObjectModel">
    <apex:remoteObjectModel name="User" fields="Id,Name,IsActive,Title,SmallPhotoUrl,LastViewedDate,Managers_Name__c">
      <apex:remoteObjectField name="Active_Oracle_Manager__c" jsShorthand="OracleManager" />
    </apex:remoteObjectModel>
  </apex:remoteObjects>
            <c:expcomm_Nomination_cmpt/>-->
            <!-- Footer -->
            
            <!--Footer - Template-->
            <apex:composition template="Community_template_footer"></apex:composition>
            
        
        </div>
    </div>
</div>


    </div>      <!--Experian Scope-->





</body>
</html>
</apex:page>