<!--
/**=====================================================================
 * Name: FetchOppsListFromAllChildAcntsExport
 * Description: This Page is Used to Export the Child Account Opportunities to excel.
 * Created Date: Oct 24th  2016
 * Created By: Manoj Gopu
 * 
 * Date Modified          Modified By           Description of the update
 
 * =====================================================================*/
-->

<apex:page standardController="Account" extensions="FetchOppsListFromAllChildAcnts" contentType="application/x-excel#ChildAccountOpportunities.xls"> 
    <table border="1" width="100%">
        <tr>
            <th>{!$ObjectType.Account.fields.Name.label}</th>
            <th>{!$ObjectType.Opportunity.fields.Name.label}</th>
            <th>{!$ObjectType.Opportunity.fields.Type.label}</th>
            <th>{!$ObjectType.Opportunity.fields.StageName.label}</th>
            <th>{!$ObjectType.Opportunity.fields.Amount.label}</th>
            <th>{!$ObjectType.Opportunity.fields.Closedate.label}</th>
            <th>{!$ObjectType.Opportunity.fields.Current_FY_revenue_impact__c.label}</th>
            <th>{!$Label.COR_Owner}</th>
            <th>{!$ObjectType.Opportunity.fields.Owner_s_Business_Unit__c.label}</th>
            <th>{!$ObjectType.Opportunity.fields.Owner_s_Sales_team__c.label}</th>
            <th>{!$ObjectType.Opportunity.fields.Owner_s_Sales_Sub_Team__c.label}</th>
            
        </tr>
        <apex:repeat value="{!lstExportData}" var="o">
            <tr>
                <td>{!o.Account.Name}</td>
                <td>{!o.Name}</td>
                <td>{!o.Type}</td>
                <td>{!o.stagename}</td>
                <td>
                    <apex:outputText value="{0} {1, number, ###,###,##0.00}">
                        <apex:param value="{!o.CurrencyIsoCode}" /> 
                        <apex:param value="{!o.Amount}" /> 
                    </apex:outputText> 
                </td>
                <td>
                <apex:outputText value="{0,date,dd'/'MM'/'yyyy}">
                        <apex:param value="{!o.CloseDate}"/>
                </apex:outputText>
                </td>                            
                <td>
                <apex:outputText rendered="{!o.Current_FY_revenue_impact__c != 0}" value="{0} {1, number, ###,###,##0.00}">
                    <apex:param value="{!o.CurrencyIsoCode}" /> 
                    <apex:param value="{!o.Current_FY_revenue_impact__c}" /> 
                </apex:outputText> 
                </td>
                <td>{!o.Owner.Name}</td>
                <td>{!o.Owner_s_Business_Unit__c}</td>
                <td>{!o.Owner_s_Sales_team__c}</td>
                <td>{!o.Owner_s_Sales_Sub_Team__c}</td>
            </tr>
        </apex:repeat>
    </table>
</apex:page>