<!--
/**=====================================================================
 * Experian
 * Name: ITCA_IT_Professional_Skills
 * Description: ITCA_IT_Professional_Skills
 * Created Date: August 2017    
 * Created By:   Alexander McCall
 *
 * Date Modified      Modified By           Description of the update
 * 24/08/17           Alexander McCall      I1425
 * 19/09/19           Alexander McCall      Case 13915672 Correct Typos
 * =====================================================================*/
 -->
<apex:page docType="html-5.0" showHeader="false" standardStylesheets="false" sidebar="false" controller="ITCA_Homepage_Controller">
    <title> ITCA </title>
    
     <apex:stylesheet value="{!URLFOR($Resource.SLDS214, 'assets/styles/salesforce-lightning-design-system.min.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.EmployeeCommunity_MainRes_2017, 'css/community_mainstyles.css')}" />
    
    <apex:stylesheet value="{!URLFOR($Resource.ITCARes, 'ITCARes/css/bootstrap.exp.min.css')}"
    />
    <apex:stylesheet value="{!URLFOR($Resource.ITCARes, 'ITCARes/css/main.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.ITCARes, 'ITCARes/css/exp.rebrand.proto.css')}"  />
    <apex:stylesheet value="{!URLFOR($Resource.ITCARes, 'ITCARes/css/itca-styles.css')}"
    />
    
   
   

 <style>
.professional-skills div.col-sm-3.button-modal {
        margin: 10px 0;
    }
    
    .professional-skills button {
        width: 100%;
        padding: 20px 40px;
    }

    /*Professional Skills Modal*/

        #professional-skill-analytical .professional-skill-modal {
            width: 90%;
        }

        #professional-skill-analytical td.col-sm-4 {
            text-align: center;
            font-size: 22px;
        }

        #professional-skill-analytical p {
            padding: 10px;
        }

        #professional-skill-analytical ul {
            width: 100%;
            padding: 10px;
        }

        #professional-skill-analytical ul.list-bullet > li:before {
            position: relative;
            left: inherit;
            margin-left: 15px;
        }
        
        #professional-skill-business-orientation .professional-skill-modal {
            width: 90%;
        }

        #professional-skill-business-orientation td.col-sm-4 {
            text-align: center;
            font-size: 22px;
        }

        #professional-skill-business-orientation p {
            padding: 10px;
        }

        #professional-skill-business-orientation ul {
            width: 100%;
            padding: 10px;
        }

        #professional-skill-business-orientation ul.list-bullet > li:before {
            position: relative;
            left: inherit;
            margin-left: 15px;
        }
        
                #professional-skill-communication .professional-skill-modal {
            width: 90%;
        }

        #professional-skill-communication td.col-sm-4 {
            text-align: center;
            font-size: 22px;
        }

        #professional-skill-communication p {
            padding: 10px;
        }

        #professional-skill-communication ul {
            width: 100%;
            padding: 10px;
        }

        #professional-skill-communication ul.list-bullet > li:before {
            position: relative;
            left: inherit;
            margin-left: 15px;
        }
        
                #professional-skill-creativity .professional-skill-modal {
            width: 90%;
        }

        #professional-skill-creativity td.col-sm-4 {
            text-align: center;
            font-size: 22px;
        }

        #professional-skill-creativity p {
            padding: 10px;
        }

        #professional-skill-creativity ul {
            width: 100%;
            padding: 10px;
        }

        #professional-skill-creativity ul.list-bullet > li:before {
            position: relative;
            left: inherit;
            margin-left: 15px;
        }
        
                #professional-skill-decision-making .professional-skill-modal {
            width: 90%;
        }

        #professional-skill-decision-making td.col-sm-4 {
            text-align: center;
            font-size: 22px;
        }

        #professional-skill-decision-making p {
            padding: 10px;
        }

        #professional-skill-decision-making ul {
            width: 100%;
            padding: 10px;
        }

        #professional-skill-decision-making ul.list-bullet > li:before {
            position: relative;
            left: inherit;
            margin-left: 15px;
        }
        
                #professional-skill-influence .professional-skill-modal {
            width: 90%;
        }

        #professional-skill-influence td.col-sm-4 {
            text-align: center;
            font-size: 22px;
        }

        #professional-skill-influence p {
            padding: 10px;
        }

        #professional-skill-influence ul {
            width: 100%;
            padding: 10px;
        }

        #professional-skill-influence ul.list-bullet > li:before {
            position: relative;
            left: inherit;
            margin-left: 15px;
        }
        
                #professional-skill-learning-agility .professional-skill-modal {
            width: 90%;
        }

        #professional-skill-learning-agility td.col-sm-4 {
            text-align: center;
            font-size: 22px;
        }

        #professional-skill-learning-agility p {
            padding: 10px;
        }

        #professional-skill-learning-agility ul {
            width: 100%;
            padding: 10px;
        }

        #professional-skill-learning-agility ul.list-bullet > li:before {
            position: relative;
            left: inherit;
            margin-left: 15px;
        }
        
                #professional-skill-organisational-awareness .professional-skill-modal {
            width: 90%;
        }

        #professional-skill-organisational-awareness td.col-sm-4 {
            text-align: center;
            font-size: 22px;
        }

        #professional-skill-organisational-awareness p {
            padding: 10px;
        }

        #professional-skill-organisational-awareness ul {
            width: 100%;
            padding: 10px;
        }

        #professional-skill-organisational-awareness ul.list-bullet > li:before {
            position: relative;
            left: inherit;
            margin-left: 15px;
        }
        
                #professional-skill-prioritisation .professional-skill-modal {
            width: 90%;
        }

        #professional-skill-prioritisation td.col-sm-4 {
            text-align: center;
            font-size: 22px;
        }

        #professional-skill-prioritisation p {
            padding: 10px;
        }

        #professional-skill-prioritisation ul {
            width: 100%;
            padding: 10px;
        }

        #professional-skill-prioritisation ul.list-bullet > li:before {
            position: relative;
            left: inherit;
            margin-left: 15px;
        }
        
                #professional-skill-process-orientation .professional-skill-modal {
            width: 90%;
        }

        #professional-skill-process-orientation td.col-sm-4 {
            text-align: center;
            font-size: 22px;
        }

        #professional-skill-process-orientation p {
            padding: 10px;
        }

        #professional-skill-process-orientation ul {
            width: 100%;
            padding: 10px;
        }

        #professional-skill-process-orientation ul.list-bullet > li:before {
            position: relative;
            left: inherit;
            margin-left: 15px;
        }
        
                #professional-skill-relationships .professional-skill-modal {
            width: 90%;
        }

        #professional-skill-relationships td.col-sm-4 {
            text-align: center;
            font-size: 22px;
        }

        #professional-skill-relationships p {
            padding: 10px;
        }

        #professional-skill-relationships ul {
            width: 100%;
            padding: 10px;
        }

        #professional-skill-relationships ul.list-bullet > li:before {
            position: relative;
            left: inherit;
            margin-left: 15px;
        }
        
                #professional-skill-teamwork .professional-skill-modal {
            width: 90%;
        }

        #professional-skill-teamwork td.col-sm-4 {
            text-align: center;
            font-size: 22px;
        }

        #professional-skill-teamwork p {
            padding: 10px;
        }

        #professional-skill-teamwork ul {
            width: 100%;
            padding: 10px;
        }

        #professional-skill-teamwork ul.list-bullet > li:before {
            position: relative;
            left: inherit;
            margin-left: 15px;
        }
        
       .ITCAFooter ul li,ol li{margin-left:1.5em;padding-left:0;}
       .ITCAFooter {font-size: 15px;    font-family: 'Roboto', sans-serif;}
       .header h2 {font-size: 70px;}
        

    </style>

    <body class="home">
        <!-- Navigation -->

        <!-- Navigation -->
        <c:ITCA_Navigation_Banner currentActiveTab1="{!bannerInfoLocal}"/>
        <!-- ../Navigation-->
        
        <!-- Banner-->
        <!-- AM Commented Out <div class="banner_container small_marquee" style="background:url(/global-images/hero/line-art-marquee-2000x250.png);filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='/global-images/hero/line-art-marquee-2000x250.png', sizingMethod='scale');"> -->
           <div>
              <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-xs-12 header">
                        <h2>Professional Skills for IT Professionals in Experian</h2>
                    </div>
                </div>
              </div>
           </div>
      <!-- AM Commented out  </div> -->
    <!--../Small Marquee-->

    <!--Professional Skills-->
        <div class="container professional-skills" id="professional-skills">
            <div class="row">
                <div class="col-sm-12">
                    <div>
                        
                        <p>Click a Professional Skill for more information</p>                        
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-3 button-modal">
                                    <button type="button" class="btn btn btn-experian-purple" data-toggle="modal" data-target="#professional-skill-analytical">
                                        Analytical
                                    </button>
                                </div>
                                <div class="col-sm-3 button-modal">
                                    <button type="button" class="btn btn btn-experian-purple" data-toggle="modal" data-target="#professional-skill-decision-making">
                                        Decision Making
                                    </button>
                                </div>
                                <div class="col-sm-3 button-modal">
                                    <button type="button" class="btn btn btn-experian-purple" data-toggle="modal" data-target="#professional-skill-prioritisation">
                                        Prioritisation
                                    </button>
                                </div>
                                <div class="col-sm-3 button-modal">
                                    <button type="button" class="btn btn btn-experian-purple" data-toggle="modal" data-target="#professional-skill-business-orientation">
                                        Business Orientation
                                    </button>
                                </div>
                                <div class="col-sm-3 button-modal">
                                    <button type="button" class="btn btn btn-experian-purple" data-toggle="modal" data-target="#professional-skill-influence">
                                        Influence
                                    </button>
                                </div>
                                <div class="col-sm-3 button-modal">
                                    <button type="button" class="btn btn btn-experian-purple" data-toggle="modal" data-target="#professional-skill-process-orientation">
                                        Process Orientation
                                    </button>
                                </div>
                                <div class="col-sm-3 button-modal">
                                    <button type="button" class="btn btn btn-experian-purple" data-toggle="modal" data-target="#professional-skill-communication">
                                        Communication
                                    </button>
                                </div>
                                <div class="col-sm-3 button-modal">
                                    <button type="button" class="btn btn btn-experian-purple" data-toggle="modal" data-target="#professional-skill-learning-agility">
                                        Learning Agility
                                    </button>
                                </div>
                                <div class="col-sm-3 button-modal">
                                    <button type="button" class="btn btn btn-experian-purple" data-toggle="modal" data-target="#professional-skill-relationships">
                                        Relationships
                                    </button>
                                </div>
                                <div class="col-sm-3 button-modal">
                                    <button type="button" class="btn btn btn-experian-purple" data-toggle="modal" data-target="#professional-skill-creativity">
                                        Creativity
                                    </button>
                                </div>
                                <div class="col-sm-3 button-modal">
                                    <button type="button" class="btn btn btn-experian-purple" data-toggle="modal" data-target="#professional-skill-organisational-awareness">
                                        Organisational Awareness
                                    </button>
                                </div>
                                <div class="col-sm-3 button-modal">
                                    <button type="button" class="btn btn btn-experian-purple" data-toggle="modal" data-target="#professional-skill-teamwork">
                                        Teamwork
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--../Professional Skills-->

    <!--Professional Skill Modal Analytical-->
        <div class="modal fade" id="professional-skill-analytical" tabindex="-1" role="dialog" style="display: none;" aria-hidden="false">
            <div class="modal-dialog professional-skill-modal" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>  
                        <h3 class="modal-title" id="professional-skill-label">
                            Skill Overview
                        </h3>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td class="col-sm-4"> Analytical </td>
                                        <td class="col-sm-4"> Knowledge </td>
                                    </tr>
                                    <tr>
                                        <td rowspan="4">
                                            <p>
                                                Combines and organises information into meaningful patterns; differentiates key elements from the irrelevant; identifies underlying relationships, causes, and effects; and combines pieces of information to form conclusions or general rules; provides practical solutions to problems without delay; can systematically and analytically challenge data and use judgment to counterbalance against his or her own intuition.
                                            </p>
                                        </td>
                                        <td>
                                            <ul class="list-bullet">
                                                <li>
                                                    Reporting methods, tools and methods of data presentation
                                                </li>
                                                <li>
                                                    Problem solving methods (individual and team) e.g. Root cause analysis; problem identification and definition
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-4"> Skills &amp; Behaviors</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <ul class="list-bullet">
                                                <li>
                                                    Using alternative sources of information to challenge or contextualise data
                                                </li>
                                                <li>
                                                    Selecting the data that is important and relevant
                                                </li>
                                                <li>
                                                    Distilling clear messages from complex data
                                                </li>
                                                <li>
                                                    Using reporting tools to assemble and analyse and present data - Applying judgment to data which takes account of all sources of hard and soft evidence and the context - Using past experiences to inform decisions (your own and others)
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    <!--../Professional Skill Modal Analytical-->
    <!--Professional Skill Modal business orientation-->
        <div class="modal fade" id="professional-skill-business-orientation" tabindex="-1" role="dialog" style="display: none;" aria-hidden="false">
            <div class="modal-dialog professional-skill-modal" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>  
                        <h3 class="modal-title" id="professional-skill-label">
                            Skill Overview
                        </h3>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td class="col-sm-4"> Business Orientation</td>
                                        <td class="col-sm-4"> Knowledge </td>
                                    </tr>
                                    <tr>
                                        <td rowspan="4">
                                            <p>
                                                Seeks to understand the business needs and deliver promp, efficient, quality service to the business; works to anticipate, identify and meet end-user needs; drives toward results and ensures high-quality standards are met.
                                            </p>
                                        </td>
                                        <td>
                                            <ul class="list-bullet">
                                                <li>
                                                    The Experian value proposition to clients and how we contributes to and impacts that
                                                </li>
                                                <li>
                                                    The Experian and the individual client commercial structure and 'how it makes money', how it differentiates itself and key risk areas
                                                </li>
                                                <li>
                                                    The value that your service brings to the Experian client and to their external clients
                                                </li>
                                                <li>
                                                    Future needs and priorities of your client and their external clients
                                                </li>
                                                <li>
                                                    The commercial relationship between you and your Experian client
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-4"> Skills &amp; Behaviors</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <ul class="list-bullet">
                                                <li>
                                                    Engaging in strategic conversations (what do you want vs. what do you want me to do)
                                                </li>
                                                <li>
                                                    Working in partnership across the matrix to deliver the end-result
                                                </li>
                                                <li>
                                                    Creating positive customer and client experiences e.g moments of truth; exceeding expecations
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    <!--../Professional Skill Modal Business Orientation-->
    <!--Professional Skill Modal Communication-->
        <div class="modal fade" id="professional-skill-communication" tabindex="-1" role="dialog" style="display: none;" aria-hidden="false">
            <div class="modal-dialog professional-skill-modal" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>  
                        <h3 class="modal-title" id="professional-skill-label">
                            Skill Overview
                        </h3>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td class="col-sm-4"> Communication</td>
                                        <td class="col-sm-4"> Knowledge </td>
                                    </tr>
                                    <tr>
                                        <td rowspan="4">
                                            <p>
                                                Can convey complex and technical issues to diverse audiences, orally and in writing, in a mannger that is easily understood, authoritive, and actionable for the business; actively listend to peers input.
                                            </p>
                                        </td>
                                        <td>
                                            <ul class="list-bullet">
                                                <li>
                                                    The communications infrastructure and culture in Experian
                                                </li>

                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-4"> Skills &amp; Behaviors</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <ul class="list-bullet">
                                                <li>
                                                    Headlining and storytelling
                                                </li>
                                                <li>
                                                    Use of analogy and metaphor to create clarity and understanding
                                                </li>
                                                <li>
                                                    Knowing your audience
                                                </li>
                                                <li>
                                                    Appealing to your audience (level of detail, context, language, acronyms)
                                                </li>
                                                <li>
                                                    Compelling business writing
                                                </li>
                                                <li>
                                                    Effective listening and questioning
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    <!--../Professional Skill Modal Business Communication-->
    <!--Professional Skill Modal Creativity-->
        <div class="modal fade" id="professional-skill-creativity" tabindex="-1" role="dialog" style="display: none;" aria-hidden="false">
            <div class="modal-dialog professional-skill-modal" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>  
                        <h3 class="modal-title" id="professional-skill-label">
                            Skill Overview
                        </h3>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td class="col-sm-4"> Creativity</td>
                                        <td class="col-sm-4"> Knowledge </td>
                                    </tr>
                                    <tr>
                                        <td rowspan="4">
                                            <p>
                                                Applies original and innovative thinking to produce new ideas and create innovative products; questions addumptions and imagines future possibilities.
                                            </p>
                                        </td>
                                        <td>
                                            <ul class="list-bullet">
                                                <li>
                                                    Tools and techniques to enable personal and team creativity e.g. blue sky thinking, brainstorming and role playing.
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-4"> Skills &amp; Behaviors</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <ul class="list-bullet">
                                                <li>
                                                    Identifying the key factors which will determine the decision
                                                </li>
                                                <li>
                                                    Identifying the right livel of data at each decision point (macro data to narrow options and micro data for final decisions)
                                                </li>
                                                <li>
                                                    Analysing Data
                                                </li>
                                                <li>
                                                    Reconciling conflicting priorites in order to make a decision and take action
                                                </li>
                                                <li>
                                                    Acting with courage and candor; effectively handling the implact of decisions on 'winners and losers'
                                                </li>
                                                <li>
                                                    Identifying the right time to make and communicate decisions so that they are not premature or too late
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    <!--../Professional Skill Modal Creativity-->
    <!--Professional Skill Modal Decision Making -->
        <div class="modal fade" id="professional-skill-decision-making" tabindex="-1" role="dialog" style="display: none;" aria-hidden="false">
            <div class="modal-dialog professional-skill-modal" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>  
                        <h3 class="modal-title" id="professional-skill-label">
                            Skill Overview
                        </h3>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td class="col-sm-4"> Decision Making</td>
                                        <td class="col-sm-4"> Knowledge </td>
                                    </tr>
                                    <tr>
                                        <td rowspan="4">
                                            <p>
                                                Considers the relative costs and benefits of potential actions to choose the most appropriate one; acts decisively and swiftly; identifies problems and drives toward solutions; takes on responsible roles and accountability for outcomes even when things go wrong; is comfortable making difficult decisions.
                                            </p>
                                        </td>
                                        <td>
                                            <ul class="list-bullet">
                                                <li>
                                                    Decision making models and tools e.g. CBA, Boston grid
                                                </li>
                                                <li>
                                                    Financial elements of decisions
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-4"> Skills &amp; Behaviors</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <ul class="list-bullet">
                                                <li>
                                                    Building trusted and authentic relationships
                                                </li>
                                                <li>
                                                    Managing stakeholders
                                                </li>
                                                <li>
                                                    Enlisting support through personal engagement irrespective of formal authority
                                                </li>
                                                <li>
                                                    Possessing a range of influencing skills that are effective with individuals, groups, in the room and remotely
                                                </li>
                                                <li>
                                                    Using global language and values
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    <!--../Professional Skill Modal Decision Making-->
    <!--Professional Skill Modal Influence-->
        <div class="modal fade" id="professional-skill-influence" tabindex="-1" role="dialog" style="display: none;" aria-hidden="false">
            <div class="modal-dialog professional-skill-modal" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>  
                        <h3 class="modal-title" id="professional-skill-label">
                            Skill Overview
                        </h3>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td class="col-sm-4"> Influence</td>
                                        <td class="col-sm-4"> Knowledge </td>
                                    </tr>
                                    <tr>
                                        <td rowspan="4">
                                            <p>
                                                Applies different strategies to convince others to change thei opinion or plan, and wins support from others for ideas; is able to build support with peers without direct lines of reporting aross a matrixed organisation.
                                            </p>
                                        </td>
                                        <td>
                                            <ul class="list-bullet">
                                                <li>
                                                    Cross cultural awareness/sensitivity
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-4"> Skills &amp; Behaviors</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <ul class="list-bullet">
                                                <li>
                                                    Building trusted and authentic relationships
                                                </li>
                                                <li>
                                                    Managing stakeholders
                                                </li>
                                                <li>
                                                    Enlisting support through personal engagement irrespective of formal authority
                                                </li>
                                                <li>
                                                    Possessing a range of influencing skills that are effective with individuals, groups, in the room and remotely
                                                </li>
                                                <li>
                                                    Using global language and values
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    <!--../Professional Skill Modal Influence-->
    <!--Professional Skill Modal Learning Agility-->
        <div class="modal fade" id="professional-skill-learning-agility" tabindex="-1" role="dialog" style="display: none;" aria-hidden="false">
            <div class="modal-dialog professional-skill-modal" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>  
                        <h3 class="modal-title" id="professional-skill-label">
                            Skill Overview
                        </h3>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td class="col-sm-4"> Learning Agility</td>
                                        <td class="col-sm-4"> Knowledge </td>
                                    </tr>
                                    <tr>
                                        <td rowspan="4">
                                            <p>
                                                Rapidly acquires new knowledge and learns new skills; can work productively in uncertain environments where roles and work are not clearly defined; finds opportunities in ambiguity; can identify opportunities for change; embraces and can adapt to change; remains calm during periods of uncertainty; leans on credible sources from teams outside his or her own group to anticipate, act against, reflect on, and learn from past experiences within the organisaiont.
                                            </p>
                                        </td>
                                        <td>
                                            <ul class="list-bullet">
                                                <li>
                                                    VUCA (Volatility, Uncertainty, Change &amp; Ambiguity) and the implications it has on all individuals
                                                </li>
                                                <li>
                                                    The CEB capability model for the future and your own development areas
                                                </li>
                                                <li>
                                                    Personal learning agility assessment
                                                </li>
                                                <li>
                                                    The psychology of change
                                                </li>
                                                <li>
                                                    Understand the need to be informed of latest thinking and best practive in and outside of Experian and the sources of information (blogs, white papers)
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-4"> Skills &amp; Behaviors</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <ul class="list-bullet">
                                                <li>
                                                    Being confident and open to learning and new challenges
                                                </li>
                                                <li>
                                                    Valuing and seeking the opportunity to learn and recieve feedback in any circumstance from people of any seniority and background
                                                </li>
                                                <li>
                                                    Reflecting on and learning from all personal and team experiences and new knowledge
                                                </li>
                                                <li>
                                                    Finding learning points and positive outcomes from setbacks
                                                </li>
                                                <li>
                                                    Embracing uncertainty, ambiguity and change
                                                </li>
                                                <li>
                                                    Challenging the status quo
                                                </li>
                                                <li>
                                                    Demonstrating self awareness of strengths and weaknesses
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    <!--../Professional Skill Modal Learning Agility-->
        <!--Professional Skill Modal Organisatioinal Awareness-->
        <div class="modal fade" id="professional-skill-organisational-awareness" tabindex="-1" role="dialog" style="display: none;" aria-hidden="false">
            <div class="modal-dialog professional-skill-modal" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>  
                        <h3 class="modal-title" id="professional-skill-label">
                            Skill Overview
                        </h3>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td class="col-sm-4"> Organisational Awareness</td>
                                        <td class="col-sm-4"> Knowledge </td>
                                    </tr>
                                    <tr>
                                        <td rowspan="4">
                                            <p>
                                                Understands and works in line with the organisations mission, operations, structure, and goals; understands informal structures and processes of the organisation; understands organisation-level implications of his or her day-to-day decisions.
                                            </p>
                                        </td>
                                        <td>
                                            <ul class="list-bullet">
                                                <li>
                                                    The Experian and EITS mission, structure, goals, priorities, risks, decision making process and culture
                                                </li>
                                                <li>
                                                    Your role and informal influence
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-4"> Skills &amp; Behaviors</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <ul class="list-bullet">
                                                <li>
                                                    Using formal and informal channels to gain insights and enlist support
                                                </li>
                                                <li>
                                                    Using your personal network to increase impact
                                                </li>
                                                <li>
                                                    Making decisions in context - seeing implications in the bigger picture
                                                </li>
                                                <li>
                                                    Identifying key influencers and stakeholders in the organisaion
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    <!--../Professional Skill Modal Organisational Awareness-->
        <!--Professional Skill Modal Prioritisation-->
        <div class="modal fade" id="professional-skill-prioritisation" tabindex="-1" role="dialog" style="display: none;" aria-hidden="false">
            <div class="modal-dialog professional-skill-modal" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>  
                        <h3 class="modal-title" id="professional-skill-label">
                            Skill Overview
                        </h3>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td class="col-sm-4"> Prioritisation</td>
                                        <td class="col-sm-4"> Knowledge </td>
                                    </tr>
                                    <tr>
                                        <td rowspan="4">
                                            <p>
                                                Breaks down work into manageable parts, assessing the priority and time required to complete each part; takes intitiative to prioritise tasks related to organisational goals and peers workstreams; develops detailed plans, completes tasks in logical order, and delivers work products on time; monitors progress against deadlines; is able to work on several tasks simultaneously and pay attention to sources of information from inside and outside his or her own network within the organisation.
                                            </p>
                                        </td>
                                        <td>
                                            <ul class="list-bullet">
                                                <li>
                                                    Programme/project management techniques
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-4"> Skills &amp; Behaviors</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <ul class="list-bullet">
                                                <li>
                                                    Identifying priorities in the context of overall goals and competing demands e.g urgent vs important
                                                </li>
                                                <li>
                                                    Balancing the need for strategic priorities and operational priorities and applying them appropriately
                                                </li>
                                                <li>
                                                    Personal works organisation and time management
                                                </li>
                                                <li>
                                                    Being alert and open to real time information and changes in circumstance that impact on priorities
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    <!--../Professional Skill Modal Prioritisation-->
        <!--Professional Skill Modal Process Orientation-->
        <div class="modal fade" id="professional-skill-process-orientation" tabindex="-1" role="dialog" style="display: none;" aria-hidden="false">
            <div class="modal-dialog professional-skill-modal" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>  
                        <h3 class="modal-title" id="professional-skill-label">
                            Skill Overview
                        </h3>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td class="col-sm-4"> Process Orientation</td>
                                        <td class="col-sm-4"> Knowledge </td>
                                    </tr>
                                    <tr>
                                        <td rowspan="4">
                                            <p>
                                                Is able to follow directions; identifies problems and initiates necessary changes; designs practices, processes, procedures, and systems to manage work simple; uses resources efficiently
                                            </p>
                                        </td>
                                        <td>
                                            <ul class="list-bullet">
                                                <li>
                                                    Workflow mapping and lean working practices
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-4"> Skills &amp; Behaviors</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <ul class="list-bullet">
                                                <li>
                                                    Planning and organising tasks as part of a process which can be rationalised and continually improved
                                                </li>
                                                <li>
                                                    Using process management to create effective delivery and results
                                                </li>
                                                <li>
                                                    Making time and space for continuous improvement
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    <!--../Professional Skill Modal Process Orientation-->
        <!--Professional Skill Modal Relationships-->
        <div class="modal fade" id="professional-skill-relationships" tabindex="-1" role="dialog" style="display: none;" aria-hidden="false">
            <div class="modal-dialog professional-skill-modal" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>  
                        <h3 class="modal-title" id="professional-skill-label">
                            Skill Overview
                        </h3>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td class="col-sm-4"> Relationships</td>
                                        <td class="col-sm-4"> Knowledge </td>
                                    </tr>
                                    <tr>
                                        <td rowspan="4">
                                            <p>
                                                Creates relationships with new acquaintances quickly and confidently; works to build trust and partner with stakeholders; successfully manages both internal and external relationships (e.g. vendor relationships); is comfortable in a challenger role that, at times, required building constructive tension in interactions to push others out of their comfort zones.
                                            </p>
                                        </td>
                                        <td>
                                            <ul class="list-bullet">
                                                <li>
                                                    Personality types in order to identify where there are opportunities to create rapport or risks of conflict
                                                </li>
                                                <li>
                                                    Work in a connected world and the importance of building broad and open relationships inside and outside of Experian
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-4"> Skills &amp; Behaviors</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <ul class="list-bullet">
                                                <li>
                                                    Constructively manage conflict
                                                </li>
                                                <li>
                                                    Building adult:adult relationships
                                                </li>
                                                <li>
                                                    Challenging and stretching others without aggression or bullying
                                                </li>
                                                <li>
                                                    Handling sensitive conversations                                                
                                                </li>                                                                                                    
                                                <li>
                                                    Networking
                                                </li>
                                                <li>
                                                    Building rapport and sustaining productive working relationships
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    <!--../Professional Skill Modal Relationships-->
        <!--Professional Skill Modal Team Work-->
        <div class="modal fade" id="professional-skill-teamwork" tabindex="-1" role="dialog" style="display: none;" aria-hidden="false">
            <div class="modal-dialog professional-skill-modal" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>  
                        <h3 class="modal-title" id="professional-skill-label">
                            Skill Overview
                        </h3>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td class="col-sm-4"> Teamwork</td>
                                        <td class="col-sm-4"> Knowledge </td>
                                    </tr>
                                    <tr>
                                        <td rowspan="4">
                                            <p>
                                                Promotes and facilitates coordination and cooperation among peers; possesses knowledge of peers work; understands when to step into a team leadership role; encourages teams to drive for results and meet goals; creates new value for the enterprise by encouraging others contributions, regardless of location.
                                            </p>
                                        </td>
                                        <td>
                                            <ul class="list-bullet">
                                                <li>
                                                    Team processes and purpose e.g. joing problem solving, governance, consultative
                                                </li>
                                                <li>
                                                    Personal strengths and style in a team context
                                                </li>
                                                <li>
                                                    Experian tools and processes to enable global working
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-4"> Skills &amp; Behaviors</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <ul class="list-bullet">
                                                <li>
                                                    Making your point heard
                                                </li>
                                                <li>
                                                    Deciding when to lead, when to support others and when to take personal action
                                                </li>
                                                <li>
                                                    Creating focus and action from disparate views
                                                </li>
                                                <li>
                                                    Building, leading and participating in a virtual team (No formal authority)
                                                </li>
                                                <li>
                                                    Building, leading and participating in a remote/distributed team
                                                </li>
                                                <li>
                                                    Navigating and overcoming organisational barriers
                                                </li>
                                                <li>
                                                    Effective and safe ways to share information, ideas, thinking and knowledge to build team effectiveness and a culture of sharing
                                                </li>
                                                <li>
                                                    Coaching and mentoring others
                                                </li>
                                                <li>
                                                    Enabling diversity and inclusion
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    <!--../Professional Skill Modal Team Work-->
    <!--Template-->
    
    <!--Footer-->
      <!--<c:ITCA_Page_Footer />-->
     <div class="ITCAFooter">
       <apex:composition template="Community_template_footer"></apex:composition>
     </div>
    <!--../Footer-->


        <!-- Scripts -->
        <!--<script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/jquery.touchSwipe.min.js"></script>
        <script type="text/javascript" src="js/jquery.bootstrap-responsive-tabs.min.js"></script>
        <script type="text/javascript" src="js/exp.navbar.js"></script>
        <script type="text/javascript" src="js/floatl.js"></script>
        <script type="text/javascript" src="js/script.js"></script>
        -->
        <apex:includeScript value="{!URLFOR($Resource.ITCARes, 'ITCARes/js/jquery.min.js')}"
        />
        <apex:includeScript value="{!URLFOR($Resource.ITCARes, 'ITCARes/js/bootstrap.min.js')}"
        />
        <apex:includeScript value="{!URLFOR($Resource.ITCARes, 'ITCARes/js/jquery.touchSwipe.min.js')}"
        />
        <apex:includeScript value="{!URLFOR($Resource.ITCARes, 'ITCARes/js/jquery.bootstrap-responsive-tabs.min.js')}"
        />
        <apex:includeScript value="{!URLFOR($Resource.ITCARes, 'ITCARes/js/exp.navbar.js')}"
        />
        <apex:includeScript value="{!URLFOR($Resource.ITCARes, 'ITCARes/js/floatl.js')}"
        />
        <apex:includeScript value="{!URLFOR($Resource.ITCARes, 'ITCARes/js/script.js')}"
        />
        <!--.. /Scripts -->
    </body>

</apex:page>