<apex:page showHeader="false" standardStylesheets="true" sidebar="false" docType="html-5.0">
<!-- 
Page -        ITCA_Answers
Author -      Alexander McCall
Description - Resources Page for the IT Career Architecture Tool
-->
<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
<head>
  <meta charset="utf-8" />
  <title>IT Career Architecture - Answers</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/> 


  <apex:stylesheet value="{!URLFOR($Resource.SLDS214, 'assets/styles/salesforce-lightning-design-system.min.css')}" />
   <apex:stylesheet value="{!URLFOR($Resource.EmployeeCommunity_MainRes_2017, 'css/community_mainstyles.css')}" />
  
        
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


  <script src="{!URLFOR($Resource.EmployeeCommunity_MainRes_2017, 'script/community_script.js')}"></script>
  <script src="{!URLFOR($Resource.EmployeeCommunity_MainRes_2017, 'script/svg4everybody.js')}"></script>  
  <script>svg4everybody();</script>
</head>
<body class="slds-m-top--none">

  <!-- REQUIRED SLDS WRAPPER -->
  <div class="experianSLDS">

    <!-- Wrapper -->
<div class="wrapper slds-size--1-of-1">
    <!--Template-->
    <apex:composition template="expcomm_newTemplate">
        <apex:define name="item1">
            <li class="menu-item slds-float--left slds-p-around--small slds-m-right--small slds-m-left--none slds-has-list-interactions">
            <a href="#" class="slds-text-heading--small">Profile</a></li>
        </apex:define>
        
        <apex:define name="item2">
            <li class="menu-item slds-float--left slds-p-around--small slds-m-right--small slds-m-left--none slds-has-list-interactions">
            <a href="#" class="slds-text-heading--small">Resources</a></li>
        </apex:define>
        
        <apex:define name="item3">
            <li class="menu-item slds-float--left slds-p-around--small slds-m-right--small slds-m-left--none slds-has-list-interactions">
            <a href="#" class="slds-text-heading--small">Network</a></li>
        </apex:define>
        
        <apex:define name="item4">
            <li class="menu-item slds-float--left slds-p-around--small slds-m-right--small slds-m-left--none slds-has-list-interactions">
               <a href="#" class="slds-text-heading--small">My Journey</a></li>
        </apex:define>
    </apex:composition>
    </div>
    </div>
    <!--Template-->
</body>
</html>
</apex:page>