<!--
/**=====================================================================
 * Appirio, Inc
 * Name: LeadConvertStatus
 * Description: 
 * Created Date: Feb 06th, 2014
 * Created By: Nathalie Le Guay (Appiiro)
 * 
 * Date Modified      Modified By                  Description of the update
 * Mar 24th, 2015     Nur Azlini                   Add "Additional fields need to be filled in if you also want to convert to an Opportunity:" List
 * Jun 25th, 2015     Arpita Bose                  T-413193: Added Custom Labels
 * Oct 20th, 2015     Paul Kissick                 Case #01198200: Moving the lists to beside each other (left/right)
  =====================================================================*/
-->
<apex:page standardController="Lead" showHeader="false" showChat="false" sidebar="false" extensions="LeadConvertController">
  <apex:stylesheet value="{!$Resource.custom_stylesheet}" />
  
  <apex:outputText escape="true" rendered="{!IF(errorOnfields.size>0, true, false)}">
    <div class="fieldList" style="float:left; width:49%;">
      <apex:image url="{!$Resource.bullet_warning}" /> {!$Label.LeadConvertStatus_Warning_Message_1} <br />
      <apex:repeat var="field" value="{!errorOnfields}">
        <apex:image url="{!IF(!fieldStatusMap[field], $Resource.bullet_red, $Resource.bullet_greentick)}"/><span class="{!IF(!fieldStatusMap[field], 'errorDiv', '')}">{!field}</span><br />
      </apex:repeat>
    </div>
    <div class="fieldList" style="float:right; width:49%;">
      <apex:image url="{!$Resource.bullet_warning}" /> {!$Label.LeadConvertStatus_Warning_Message_2} <br />
      <apex:repeat var="field" value="{!errorOnfieldsOppt}">
        <apex:image url="{!IF(!fieldStatusMap[field], $Resource.bullet_red, $Resource.bullet_greentick)}"/><span class="{!IF(!fieldStatusMap[field], 'errorDiv', '')}">{!field}</span><br />
      </apex:repeat>
    </div>
  </apex:outputText>
  <apex:outputText value="Ok" escape="true" rendered="{!IF(errorOnfields.size < 1, true, false)}" />

</apex:page>