<apex:page standardController="opportunity" extensions="opportunityHeaderConsoleExtension">

<apex:includeScript value="/support/console/40.0/integration.js"/>
<script type="text/javascript">
   
    function openAccount(accountId,accountName) {
    sforce.console.getEnclosingPrimaryTabId(function(result){
     sforce.console.openSubtab(result.id, '/' +accountId, true, accountName, null);
    });
   } 
   
</script>



<apex:slds />
<style>
table {  
    border-collapse: collapse;
}
th, td {
    padding: 0;
}
</style>
<body>

<table  width="100%" height="100%" syle="border:none;border-collapse: collapse;border-spacing: 0" > 
<tr >
<td  style="padding-left:8px;padding-bottom:8px;">
<div style="font-family: 'SalesforceSans-Regular',Helvetica,Arial,sans-serif;font-size: 11px;;color: #7d7d84;" id="ext-gen202">Account Name</div>
<apex:outputText >
            <apex:outputLink onclick="openAccount('{!opportunity.AccountId}','{!opportunity.Account.Name}'); return false;">
                    {!opportunity.Account.Name}
                </apex:outputLink>
           </apex:outputText>

</td>
<td  style="border:1px solid #a5a5a5; border-style: none none none solid;padding-left:8px;padding-bottom:8px;">
<div style="font-family: 'SalesforceSans-Regular',Helvetica,Arial,sans-serif;font-size: 11px;;color: #7d7d84;" id="ext-gen202">Account Industry</div>
{!opportunity.Account.Industry}

</td>
<td  style="border:1px solid #a5a5a5; border-style: none none none solid;padding-left:8px;padding-bottom:8px;">
<div style="font-family: 'SalesforceSans-Regular',Helvetica,Arial,sans-serif;font-size: 11px;;color: #7d7d84;" id="ext-gen202">Renewal Owner(EDQ)</div>
{!accountTeamMember.User.Name}

</td>
<td  style="border:1px solid #a5a5a5; border-style: none none none solid;padding-left:8px;padding-bottom:8px;">
<div style="font-family: 'SalesforceSans-Regular',Helvetica,Arial,sans-serif;font-size: 11px;;color: #7d7d84;" id="ext-gen202">BU Account Lead(EDQ)</div>
{!accountSegment.Business_Unit_Lead__c}

</td>
</tr>
<tr >
<td  style="padding-left:8px;padding-bottom:8px;">
<!--<div style="font-family: 'SalesforceSans-Regular',Helvetica,Arial,sans-serif;font-size: 11px;;color: #7d7d84;" id="ext-gen202">Total Spend(Global)
</div>
<apex:outputfield value="{!accountSegment.Total_Won__c}"/>
-->
<div style="font-family: 'SalesforceSans-Regular',Helvetica,Arial,sans-serif;font-size: 11px;;color: #7d7d84;" id="ext-gen202">Total Spend(EDQ)</div>
{!totalSpendEDQ}
</td>
<td  style="border:1px solid #a5a5a5; border-style: none none none solid;padding-left:8px;padding-bottom:8px;">
<!--<div style="font-family: 'SalesforceSans-Regular',Helvetica,Arial,sans-serif;font-size: 11px;;color: #7d7d84;" id="ext-gen202">Total Spend(EDQ)</div>
{!totalSpendEDQ}
-->
</td>
<td style="border:1px solid #a5a5a5; border-style: none none none solid;padding-left:8px;padding-bottom:8px;">
</td>
<td style="border:1px solid #a5a5a5; border-style: none none none solid;padding-left:8px;padding-bottom:8px;">
</td>
</tr>
</table>
</body>
</apex:page>