<apex:page standardController="Confidential_Information__c" extensions="ResellerComm_ConfidentialInfoEmail" showHeader="true" sidebar="true">
    <apex:form >
        <apex:actionFunction name="JSsendEmail" action="{!sendEmail}" rerender="dummy">
            <apex:param name="firstParam" assignTo="{!finalConfInfo}" value="" />
        </apex:actionFunction>
    </apex:form>

    <apex:outputText id="dummy">
    </apex:outputText>

    <script>
        var contactCount = '{!contactCount}';
        //alert('count on page: '+contactCount);
        var finalConfInfo = '{!finalConfInfo}';
        var docType = '{!docType}';
        var alertMessageVar;
        if(docType == "Strat Clients Document"){
            alertMessageVar = "strat";
        }else{
            alertMessageVar = "reseller";
        }

        if(contactCount == 0){
            alert("None of the contacts for this account qualified for receiving email. Click OK to close this window.");
            window.close();
        }else{
            JSsendEmail(finalConfInfo);
            alert("Email was sent to " + alertMessageVar + " contacts. Click OK to close this window.");
            window.close();
        }

    
    </script>
</apex:page>