<apex:page standardController="Opportunity" extensions="SavoOpportunityExt"> 
<savo_classic:Header ></savo_classic:Header>
<savo_classic:Html title="{!$Label.SAVO_Opportunity_Link_to_FUSE_product_page}">
    <apex:outputText rendered="{!products.size==0}">{!$Label.SAVO_Opportunity_No_Results}...</apex:outputText>
    <apex:dataList value="{!products}" var="p">
        <apex:outputLink value="{!p.PricebookEntry.Product2.Product_Master__r.FUSE_product_page_URL__c}" target="_blank" id="fuseLink">{!p.PricebookEntry.Product2.Name}</apex:outputLink>
    </apex:dataList>
</savo_classic:Html>
<savo_classic:List title="{!$Label.SAVO_Opportunity_Suggested_Product_Content}" tags="{!listTags}" assetTypes="xls,pdf,doc,ppt,cp,docx,pptx,ppsx,xlsx" recordDownloads="True" numResults="5"></savo_classic:List>
<savo_classic:Html title="{!$Label.SAVO_Opportunity_Recommended_Assets}">
                <ul>
                    <li>
                        <apex:outputLink value="#" onclick="window.open('https://www.gosavo.com/ExperianFUSE/CustomPage/View.aspx?id=1635875');" rendered="{!if(Opportunity.StageName == $Label.OPPTY_STAGE_QUALIFY, true, false)}">{!$Label.SAVO_Opportunity_Sales_Stage}: {!stageNameTranslation[Opportunity.StageName]}</apex:outputLink>    
                        <apex:outputLink value="#" onclick="window.open('https://www.gosavo.com/ExperianFUSE/CustomPage/View.aspx?id=1657259');" rendered="{!if(Opportunity.StageName == $Label.OPPTY_STAGE_PROPOSE, true, false)}">{!$Label.SAVO_Opportunity_Sales_Stage}: {!stageNameTranslation[Opportunity.StageName]}</apex:outputLink>    
                        <apex:outputLink value="#" onclick="window.open('https://www.gosavo.com/ExperianFUSE/CustomPage/View.aspx?id=1657335');" rendered="{!if(Opportunity.StageName == $Label.OPPTY_STAGE_COMMIT, true, false)}">{!$Label.SAVO_Opportunity_Sales_Stage}: {!stageNameTranslation[Opportunity.StageName]}</apex:outputLink>    
                        <apex:outputLink value="#" onclick="window.open('https://www.gosavo.com/ExperianFUSE/CustomPage/View.aspx?id=1657576');" rendered="{!if(Opportunity.StageName == $Label.OPPTY_STAGE_CONTRACT, true, false)}">{!$Label.SAVO_Opportunity_Sales_Stage}: {!stageNameTranslation[Opportunity.StageName]}</apex:outputLink>    
                        <apex:outputLink value="#" onclick="window.open('https://www.gosavo.com/ExperianFUSE/CustomPage/View.aspx?id=1657624');" rendered="{!if(Opportunity.StageName == $Label.OPPTY_STAGE_EXECUTE, true, false)}">{!$Label.SAVO_Opportunity_Sales_Stage}: {!stageNameTranslation[Opportunity.StageName]}</apex:outputLink>
                        <apex:outputText rendered="{!if(Opportunity.StageName = 'Closed Lost', true, false)}">{!$Label.SAVO_Opportunity_Closed_Lost}</apex:outputText>
                    </li>
                    <li><a href="#" onclick="window.open('https://www.gosavo.com/ExperianFUSE/CustomPage/View.aspx?id=31452773');">{!$Label.SAVO_Opportunity_Contact_Role_Definitions} </a></li>
                    <li><a href="#" onclick="window.open('https://www.gosavo.com/ExperianFUSE/Document/Document.aspx?id=30216058');">{!$Label.SAVO_Opportunity_Start_a_proposal_using_this_template} </a></li>
                    <li><a href="#" onclick="window.open('https://www.gosavo.com/ExperianFUSE/CustomPage/View.aspx?id=1538432');">{!$Label.SAVO_Opportunity_FUSE_training} </a></li>
                    <li><a href="#" onclick="window.open('https://www.gosavo.com/ExperianFUSE/CustomPage/View.aspx?id=30399540');">{!$Label.SAVO_Opportunity_Global_FAQs} </a></li>
                    <li><a href="#" onclick="window.open('https://www.gosavo.com/ExperianFUSE/CustomPage/View.aspx?id=30571227');">{!$Label.SAVO_Opportunity_FAQ_specific_to_UK_region} </a></li> 
    		        <li><a href="#" onclick="window.open('https://www.gosavo.com/ExperianFUSE/CustomPage/View.aspx?id=12147749');">{!$Label.SAVO_Opportunity_New_starters} </a></li> 
                    <li><a href="#" onclick="window.open('https://www.gosavo.com/ExperianFUSE/CustomPage/View.aspx?id=1244824');">Presentation design and graphics assistance </a></li>
 
               </ul>
</savo_classic:Html>
<savo_classic:Html title="{!$Label.SAVO_Opportunity_Competitor_Intelligence}">
    <apex:outputText rendered="{!Competitors.size==0}">{!$Label.SAVO_Opportunity_No_Results}...</apex:outputText>
    <apex:dataList value="{!Competitors}" var="c">
        <apex:outputLink value="#" onclick="window.open('https://www.gosavo.com/ExperianFUSE/CustomPage/View.aspx?id=' + {!c.Account__r.FUSE_Tag_Id__c})">{!c.Account__r.Name}</apex:outputLink>
    </apex:dataList>
</savo_classic:Html>
</apex:page>