<apex:page standardController="Contract" showHeader="false" extensions="seal.SealDocumentLinkExtension">
  <html>
  <head>
    <apex:includeScript value="{!$Resource.seal__jquery_1_10_2}" />
    <script>
      var j$ = jQuery.noConflict();
      
      j$(document).ready(function() {
        console.log(j$('#page .download-link a'));
            
        j$('#page .download-link a').click(function() {
          j$('#page .download-link').hide();
          j$('#page .in-progress').show();
        });
      });
    </script>
    <style>
  #page iframe {
    display: none;
  }
  
  #page a {
    color: #000;
  }
  
  #page .message {
    border: none; 
    padding: 0px;
    margin: 0px;
    background-color: transparent;
  }
  
  
  #page .success {
    color: green;
    font-weight: bold;
  }
  
  #page .in-progress {
    color: orange;
    font-weight: bold;
    display: none;
  }
  
  #page .error {
    color: red;
    font-weight: bold;
  }
    </style>
  </head>
  <body>
  <div id="page">
  <apex:form >
    <apex:outputPanel layout="inline" id="document">
      <apex:outputPanel layout="inline" rendered="{!!ISBLANK(resource)}" >
        <iframe src="{!resource}"></iframe>
        <div class="{!IF(isError, 'error', 'success')} message">
          <apex:outputText value="{!IF(isError, 'Error: ', '') + message}" />
        </div>
      </apex:outputPanel>
    </apex:outputPanel>
    <apex:outputPanel layout="inline" id="link" rendered="{!NOT(ISBLANK(Contract.seal__SealDocumentId__c))}">
      <apex:outputPanel layout="inline" rendered="{!ISBLANK(resource)}" >
        <div class="download-link">
          <apex:commandLink styleClass="download-link" value="View Contract" 
                            action="{!getPDFLink}" rerender="document, link" />
        </div>
        <div class="in-progress">Downloading document...</div>
      </apex:outputPanel>
    </apex:outputPanel>
    <apex:outputPanel layout="inline" id="invalid-link" rendered="{!ISBLANK(Contract.seal__SealDocumentId__c)}">
    	Link not available
    </apex:outputPanel>
  </apex:form>
  </div>
  </body>
  </html>
</apex:page>