<apex:page controller="seismic.SeismicWebApplicationController" action="{!Init}" showHeader="true" sidebar="false">
 <head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Seismic Web Application</title>
	<style type="text/css">
		html, body { height: 100%; margin: 0; padding: 0; }
		body #contentWrapper .bodyDiv .outerNoSidebar .noSidebarCell { padding: 0; }
		body #contentWrapper #bodyTable { padding: 0; }
 		body #contentWrapper #bodyTable #docCenterIFrame { height: 850px !important; }
		/* to fix inline=1 (in SF touch)*/
		body.sfdcBody { padding: 0 !important; }
		body.sfdcBody.apexPageInline { margin: 0; }
	</style>
</head>
<body>
    <iframe src="{!SeismicDocCenterUrl}" id="docCenterIFrame" width="100%" height="100%" frameborder="no" marginwidth="0" marginheight="0" scrolling="auto" allowfullscreen="true">
    </iframe>
</body>
</apex:page>