<apex:page standardController="Sales_Planning_Process__c" extensions="SPP_ProductListExtension"  >
    <apex:form >
        <apex:pageBlock >          
            <apex:pageBlockTable value="{!oppLineItems}" var="lineItem">
                <apex:column >
                    <apex:facet name="header">Name</apex:facet>
                    <apex:outputLink value="{!$Site.BaseUrl}/{!lineItem.ID}" target="_blank">{!lineItem.Name}</apex:outputLink>
                </apex:column>     
                <apex:column >
                    <apex:facet name="header">Product</apex:facet>
                    <apex:outputLink value="{!$Site.BaseUrl}/{!lineItem.product2.id}" target="_blank">{!lineItem.product2.name}</apex:outputLink>
                </apex:column>                       
                <apex:column value="{!lineItem.CRM_Product_Name__c}" >
                    <apex:facet name="header">CRM Product Name</apex:facet>
                </apex:column>
                <apex:column value="{!lineItem.Application__c}" >                
                    <apex:facet name="header">Application</apex:facet>
                </apex:column>
            </apex:pageBlockTable>
        </apex:pageBlock>        
    </apex:form>
</apex:page>